<li><%= link_to 'Topic View', :viewtype => 'topic' %></li>
<li><%= link_to 'Day View ', :viewtype => 'day' %></li>
<li><%= link_to 'Week View', :viewtype => 'week' %></li>
<li><%= link_to 'Month View', :viewtype => 'month' %></li>
<li><%= link_to 'Year View', :viewtype => 'year' %></li>
