<li><%= link_to 'Mashup', mashup_path %></li>

<% if ["show", "api"].include? controller.action_name.to_s %>
  <li><b>&#187;</b></li>
  
  <% case controller.action_name.to_s; when "show" %>
    <li>Resources</li>
  <% when "api" %>
    <li>RESTful API</li>
  <% else %>
    <!-- no breadcrumb -->
  <% end %>
<% end %>
