
<h2>RESTful API</h2>

<p>An early version of the <a href="/mashup/api">REST API</a> is available.
Please feel free to try it out and give us feedback on it!</p>

<h2>Google Gadgets</h2>

<script src="http://gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/102930279039750035480/myexp_wf.xml&amp;up_limit=10&amp;synd=open&amp;w=350&amp;h=300&amp;title=myExperiment+Workflow+Gadget&amp;border=http%3A%2F%2Fgmodules.com%2Fig%2Fimages%2F&amp;output=js"></script>

<p>Add this to your iGoogle home page with the following URL:<br/>
<%= link_to 'right click and copy location', 'http://hosting.gmodules.com/ig/gadgets/file/102930279039750035480/myexp_wf.xml' %></p>

<p>Add this to your website with the following code:</p>

<%= text_field_tag :code, value='<script src="http://gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/102930279039750035480/myexp_wf.xml&amp;up_limit=10&amp;synd=open&amp;w=350&amp;h=300&amp;title=myExperiment+Workflow+Gadget&amp;border=http%3A%2F%2Fgmodules.com%2Fig%2Fimages%2F&amp;output=js"></script>', :size => 50 %>
