<% unless controller.action_name.to_s == "index" %>
  <li><%= link_to 'services', services_path %></li>
<% end %>

<% case controller.action_name.to_s; when "show" %>
  <li><%= h(@contributable.label) %></li>
<% when "search" %>  
  <li>Search Results</li>
<% when "all" %>
  <li>All services</li>
<% when "index" %>
  <li>Services</li>
<% else %>
  <!-- no breadcrumb -->
<% end %>

