<ul class="sectionIcons">
	<li><%= icon "view-all", all_services_path, nil, nil, "View All Services" %></li>
</ul>

<%= render :partial => "contributions/most_tabs", :locals => { :type => "Service" } %>
