<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% when "show" %>

  <li><%= link_to 'Remove Bookmark', bookmark_path(@bookmark), :confirm => 'Are you sure?', :method => :delete %></li>

<% else %>

  <!-- no subnav options -->

<% end %>
