<h3>Details</h3>

<p>
  <b>Title:</b>
  <%=h @bookmark.title %>
</p>

<p>
  <b>Created at:</b>
  <%=datetime @bookmark.created_at %>
</p>

<h3>Bookmarkable</h3>

<%= render :partial => "#{@bookmark.bookmarkable_type.pluralize.downcase}/#{@bookmark.bookmarkable_type.downcase}", :collection => [@bookmark.bookmarkable] %>