<div style="text-align: center; margin-top: 0.5em;">
  <span class="owner">Project</span>
  <%= link_to image_tag('/images/biovel.png', :style => 'width: 60px; height: 60px; margin-top: 0.2em;') + '<br/>BioVeL',
              network_path(643) -%>
</div>