<p>.</p>
<div class="half"><img src="/images/createaccount.png" alt="Create an account" /></div>
<div class="half" style="text-align: right;"><a href="/users/login"><img src="/images/logmein.png" alt="Log me in" /></div>

<div class="visualClear"></div>

<p>Put some form here.</p><p>Put some form here.</p><p>Put some form here.</p>
