<li><%= link_to 'Messages', messages_path -%></li>

<% if ["show", "new"].include? controller.action_name.to_s -%>
  <li><b>&#187;</b></li>
  
  <% case controller.action_name.to_s; when "show" %>
    <li><%= h(@message.subject) -%></li>
  <% when "new" %>
    <li>New Message</li>
  <% else %>
    <!-- no breadcrumb -->
  <% end %>
<% end %>
