<h1>Editing Announcement</h1>

<%  form_for(:announcement, :url => announcement_path(@announcement), :html => { :method => :put }) do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_tag 'Update', :disable_with => "Updating..." %>
<% end %>