<h1>
	<%= feed_icon_tag "Site Announcements", formatted_announcements_path(:rss) %>
	Site Announcements (<%= @announcements.length %>)
</h1>

<% if admin? %>
	<ul class="sectionIcons">
	  <li><%= icon('announcement', new_announcement_path, nil, nil, 'New Announcement') %></li>
	</ul>
<% end %>

<%= render :partial => "announcements/table", :locals => { :collection => @announcements } %>
