<p>
  <b>Email:</b>
  <%=h profile.email %>
</p>

<p>
  <b>Website:</b>
  <%=h profile.website %>
</p>

<p>
  <b>Description:</b><br />
  <%= profile.body_html %>
</p>

<% if false %>
<p>
  <b>Created at:</b>
  <%=datetime profile.created_at %>
</p>
<% end %>

<p>
  <b>Last updated:</b>
  <%=datetime profile.updated_at %>
</p>