<h1>Edit Profile for <%= name @user.id %></h1>

<%= error_messages_for :profile %>

<% form_for(:profile, :url => profile_path(@profile), :html => { :method => :put }) do |f| %>

	<% if mine? @user %>
		<%= render :partial => "form", :object => f. :pictures => @user.pictures %>
	<% end %>

  <p>
    <%= submit_tag "Update", :disable_with => "Updating..." %>
  </p>
<% end %>