<h2>All Profiles</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @profiles } %>

<%= render :partial => "profiles/table", :locals => { :collection => @profiles } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @profiles } %>

<br />