<p>
  <b>User:</b>
  <%=h openid(@profile.user_id) %>
</p>

<p>
  <b>Picture:</b>
  <%=h @profile.picture_id %>
</p>

<p>
  <b>Email:</b>
  <%=h @profile.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @profile.website %>
</p>

<p>
  <b>Description:</b>
  <%=h @profile.description %>
</p>

<p>
  <b>Created at:</b>
  <%=h @profile.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @profile.updated_at %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>