<h3>Details</h3>

<p>
  <b>User:</b><br />
  <%= render :partial => "users/avatar", :locals => { :user => @profile.owner } %><br/>
</p>

<%= render :partial => "profiles/profile", :locals => { :profile => @profile } %>