<p>
  <b>User:</b>
  <%=h openid(@profile.user_id) %>
</p>

<p>
  <b>Picture:</b>
  <%=avatar(@profile.user_id) %>
</p>

<%= render :partial => "profiles/profile", :locals => { :profile => @profile } %>


<%= link_to 'Back', user_path(@profile.owner) %>