<% if @user %><li><%= link_to 'Back to '+truncate(@user.name, 10), user_path(@user) %></li><% end %>

<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% when "show" %>

  <!-- no subnav options -->

<% else %>

  <!-- no subnav options -->

<% end %>