<h1>Editing membership</h1>

<%= error_messages_for :membership %>

<% form_for(:membership, :url => membership_path(@membership), :html => { :method => :put }) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Network</b><br />
    <%= f.text_field :network_id %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>