<h3>Editing membership</h3>

<%= error_messages_for :membership %>

<% form_for(:membership, :url => membership_path(@membership.user_id, @membership), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Save Changes" %>
  </p>
<% end %>