<p>
  <b>User:</b>
  <%=h @membership.user_id %>
</p>

<p>
  <b>Network:</b>
  <%=h @membership.network_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @membership.created_at %>
</p>

<p>
  <b>Accepted at:</b>
  <%=h @membership.accepted_at %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>