<h2>All Citations</h2>

<%= render :partial => "citations/table", :locals => { :collection => @citations, :workflow => @workflow } %>

<br />

<% unless @citations.empty? %>
  <h2>Preview</h2>

  <% @citations.each_index do |i| %>
    <p>
      <%= i.to_i + 1 %>.  <%= render :partial => "citations/citation", :object => @citations[i] %>
    </p>
  <% end %>
<% end %>