<h1>Create citation</h1>

<%= error_messages_for :citation %>

<% form_for(:citation, :url => citations_path(@workflow)) do |f| %>
  <%= render :partial => "citations/form", :object => f %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>