<% t "Content Types" -%>

<h1>All Content Types</h1>

<% if @content_types.empty? %>

  <p>There are no Content Type entries to display.</p>

<% else %>

  <%= render :partial => "layouts/paginate", :locals => { :collection => @content_types } %>

  <ul>
    <% @content_types.each do |ct| %>
      <li><%= link_to(h(ct.title), content_type_path(ct)) %></li>
    <% end %>
  </ul>

  <%= render :partial => "layouts/paginate", :locals => { :collection => @content_types } %>

<% end %>

