//tree
.ygtvcontent span {
  display: block;
  line-height: 22px;
}

.ygtvcontent span:hover {
  text-decoration: underline;
  cursor: pointer;
}

table.ygtvtable {
  width: 100%;
}
/* Undo styles.css */
.ygtvtable td, .ygtvtable th {
  text-align: left;
}