<%= render :partial => "contributions/most", :locals => { :type => "Blog" } %>

<h3>Listing blogs</h3>

<%= render :partial => "layouts/paginate", :locals => { :collection => @blogs } %>

<%= render :partial => "blogs/table", :locals => { :collection => @blogs } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @blogs } %>

<br />
