<h3>New Blog</h3>

<%= error_messages_for :blog %>

<% form_for(:blog, :url => blogs_path) do |f| %>
  <%= render :partial => "contributions/contributor_form", :locals => { :user => current_user } %>
  
  <%= render :partial => "policies/listform", :locals => { :contribution => @blog.contribution, :user => current_user } %>

  <h3>Details</h3>
  
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>