<h1><%=h @blog.title %></h1>

<p>
  By <%= contributor(@blog.contribution.contributor_id, @blog.contribution.contributor_type) %>
</p>

<% unless @blog.posts.empty? %>
  <h3>Recent Posts</h3>

  <%= render :partial => "blog_posts/post", :collection => @blog.posts %>
<% end %>

<h3>History</h3>

<%= render :partial => "contributions/history", :object => @blog.contribution %>

<br/>


<%= link_to 'Back', blogs_path %>