<% if @blog.authorized?("edit", (logged_in? ? current_user : nil)) %>
  <p>
    <%= link_to 'New blog post', new_blog_post_path(@blog) %> | 
    <%= link_to 'Edit blog', edit_blog_path(@blog) %>
  </p>
<% end %>

<h1><%=h @blog.title %></h1>

<p>
  By <%= contributor(@blog.contribution.contributor_id, @blog.contribution.contributor_type) %>
</p>

<h3>Recent Posts</h3>

<%= render :partial => "blog_posts/post", :collection => @blog.posts %>

<br/>


<%= link_to 'Back', blogs_path %>