<li>
  <table class="comment">
    <tr>
      <td class="avatar" rowspan="2">
        <%= contributor(comment.user.id, 'User', true, 60) %>
      </td>
      <td class="header" height="1.5em">
		  <!--<% unless comment.title.nil? %><b><%=h comment.title %></b><br/><% end %>-->
	      <%=datetime comment.created_at %>
	  </td>
    </tr>
	<tr>
	  <td class="content">        
          <%= comment.comment %>
	  </td>
	</tr>
  </table>
</li>