<% #output ul regardless, so that new comments can be appended at :bottom %>
<ul style="list-style-type: none;" id="comments">
  <%= render :partial => "comments/comment", :collection => commentable.comments %>
</ul>

