<% #output ul regardless, so that new comments can be appended at :bottom %>
<ul id="comments" class="comments">
  <%= render :partial => "comments/comment", :collection => commentable.comments %>
</ul>

