<% if @contribution %><li><%= link_to 'Back to Contribution', contribution_path(@contribution) %></li><% end %>

<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% else %>

  <!-- no subnav options -->

<% end %>