<h1>Listing downloads</h1>

<%= render :partial => "layouts/paginate", :locals => { :collection => @downloads } %>

<%= render :partial => "downloads/table", :locals => { :collection => @downloads, :contribution => @contribution } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @downloads } %>

<br />

<% if @contribution %>
  <%= link_to "Back", contribution_path(@contribution) %>
<% end %>