<h2>Listing Downloads</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @downloads } %>

<%= render :partial => "downloads/table", :locals => { :collection => @downloads, :contribution => @contribution } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @downloads } %>

<br />