<% form_tag :action => 'importer', :id => 'gmail' do %>

<p><label>Username: <%= text_field_tag 'name' %></label></p>
<p><label>Password: <%= password_field_tag 'password' %></label></p>

<%= submit_tag 'Find my contacts!' %>

<% end %>
