<h2>Import your contacts</h2>

<p>If you have an address book on your Hotmail, Yahoo! Mail or Googlemail account, you can import all your contacts easily.</p>

<ul>
<li><%= link_to 'Hotmail', :action => 'hotmail' %></li>
<li><%= link_to 'Yahoo!', :action => 'yahoo' %></li>
<li><%= link_to 'Google', :action => 'google' %></li>
</ul>

