<div id="extra_search" class="box_standout" style="color: #333333; font-weight: bold; margin-bottom: 1.5em; line-height: 1.4;">
	<%= link_to_function image_tag("close.gif", :style => "float: right;"), visual_effect(:toggle_slide, "extra_search", :duration => 0.3) %>
	Didn't find what you need?
	<%= link_to "Click here", "http://www.google.com/coop/cse?cx=006491099109873764573:iockywifnao", :popup => true -%>
	to search external workflow repositories.
</div>