<div class="resultInfo">
  Found <span id="size"><%= @collection.size %></span> <%= @collection.size == 1 ? 'result' : 'results' %> searching for
  <span id="query"><%= @query ? @query : 'No query specified' %></span>.
</div>