<% unless controller.action_name.to_s == "index" %>
  <li><%= link_to 'Research Objects', research_objects_path %></li>
<% end %>

<% case controller.action_name.to_s; when "show" %>
  <li><%= h(@contributable.label) %></li>
<% when "search" %>  
  <li>Search Results</li>
<% when "index" %>
  <li>Research objects</li>
<% when "resource_show" %>
  <li><%= link_to(@contributable.label, research_object_path(@contributable)) %></li>
<% else %>
  <!-- no breadcrumb -->
<% end %>

