    <div class="annotation mockup">
        <h3 class="type">Description</h3>
        <div class="body">
<p>
          The scientific experiment represented by this research object pertains to the functional annotation of SNPs using next-generation text mining technology and curated metabolic pathway databases. This study characterizes a set of SNPs from an article that can be seen as a golden standard when it comes to characterizing genetic variation in human metabolism [1]. To validate the results from the research object, the RO compares the text mining generated annotation with annotations retieved from the Kyoto Encyclopedia of Genes and Genomes (KEGG) pathway database [2], and the annotations as described in the gold standard publication.
</p><p>
We hypothesize that SNPs can be functionally annotated using curated metabolic pathway databases and next-generation text mining, and that new hypotheses regarding the role of SNPs in biological processes relevant for human health can be formulated using these functional annotations.
</p><p>
All the data involved in the characterization of the SNPs are stored in local relational databases (named "Anni databases") and accessed via a set of web services (named "Anni web services"). The results are stored in local output files.
</p>          
        </div>
        <div class="more">
          More in <a href="http://sandbox.wf4ever-project.org/rodl/ROs/test1337/biblio/README.txt">biblio/README.txt</a>.
        </div>
        <div class="provenance">
          <span class="authoredBy">Kristina Hettne</span> on 
          <span class="authoredOn">2012-12-24 15:04</span>
        </div>        
      </div>  
