      <div class="annotation">
        <h3 class="type">Research diagram</h3>
        <div class="body">
          <div class="todo">What to call this section?</div>
          <img src="/images/mockup/schema-pique.png" />
        </div>
        <div class="provenance">
          <span class="authoredBy">Pique</span> on 
          <span class="authoredOn">2012-12-24 15:04</span>
        </div>        
      </div>  	
