      <div class="annotation">
        <h3 class="type">Research overview</h3>
        <div class="body">
          <img src="/images/mockup/schema-kristina.png" width="450" />
        </div>
        <div class="provenance">
          <span class="authoredBy">Kristina</span> on 
          <span class="authoredOn">2012-12-24 15:04</span>
        </div>        
      </div>  	
