
    <div class="evolution mockup">
<h2>
	<span class="icon"><img alt="Comments" src="/images/famfamfam_silk/arrow_merge.png"> </span>	<span style="vertical-align: middle;">Evolution</span>
</h2>
      
    <a name="version_history"></a>
    <p>In reverse chronological order:</p>

<ol class="version_history" reversed="reversed">  

      <li>
      <div class="title">
        <a href="/workflows/928/versions/3">Functional annotation of single nucleotide polymorphisms (SNPs) using next-generation text mining and curated metabolic pathway databases</a>
      </div>
      <div class="metadata">
        <p>
          Created
            by <a href="http://www.myexperiment.org/users/286" title="header=[] body=[Kristina Hettne] cssheader=[boxoverTooltipHeader] cssbody=[boxoverTooltipBody] delay=[200]">Kristina Hettne</a>
          on Wednesday 23 June 2012 @ 20:20:40 (GMT)
        </p>
          <p>
            </p><div>Revision comment:</div>
            <div class="comment">
              <p>&nbsp;Updated title and description</p>
            </div>
          <p></p>
      </div>
    </li>  

  
    <li>
      <div class="title">
        <a href="/workflows/928/versions/2">SNP annotations</a>
      </div>
      <div class="metadata">
        <p>
          Created
          by <a href="http://www.myexperiment.org/users/286" title="header=[] body=[Kristina Hettne] cssheader=[boxoverTooltipHeader] cssbody=[boxoverTooltipBody] delay=[200]">Kristina Hettne</a>
          on Sunday 14 March 2012 @ 21:26:05 (GMT)
        </p>
          <p>
            </p><div>Revision comment:</div>
            <div class="comment">
              <p>Include workflow run provenance.</p>
            </div>
          <p></p>
        
      </div>
    </li>

        <li>
      <div class="title">
        <a href="/workflows/928/versions/1">SNP annotations</a>
      </div>
      <div class="metadata">

        <p>
          Created
            by <a href="http://www.myexperiment.org/users/286" title="">Kristina Hettne</a>          
          on Sunday 11 October 2012 @ 21:25:58 (GMT)
        </p>
      </div>
    </li>

    
</ol>
 </div>  