<div class="inputs">
  <h2>Inputs</h2>
  <table class="values">
    <tr><th>Parameter</th> <th>Value</th></tr>
    <tr><td>database</td> <td><code>colouredanimals</code></td></tr>
    <tr><td>species</td> <td><code>elephant</code></td></tr>
    <tr><td>part</td> <td><code>trunk</code></td></tr>
  </table>
</div>