<div class="inputs">
  <h2>Inputs</h2>
  <table class="values">
    <tr><th>Parameter</th> <th>Value</th></tr>
    <tr><td>SNP_ID</td> <td><code>P1337</code></td></tr>
    <tr><td>set_width</td> <td><code>200</code></td></tr>
  </table>
</div>
