<div class="outputs mockup">
  <h2>Outputs</h2>
  <table class="values">
    <tr><th>Parameter</th> <th>Value</th></tr>
    <tr><td>name</td> <td><code>elmer</code></td></tr>
    <tr><td>titles</td> <td>
      <pre>
rs174547	DKFZP434K028	-1
rs174547	 DAGLA	path:hsa04723 Retrograde end
rs174547	 C11orf9	-1
rs174547	 C11orf10	-1
rs174547	 FEN1	path:hsa03030 DNA replicati
rs174547	 FEN1	 path:hsa03410 Base excisio
rs174547	 FEN1	 path:hsa03450 Non-homologo
rs174547	 FADS2	path:hsa00592 alpha-Linolen
rs174547	 FADS2	 path:hsa01040 Biosynthesis
    <span class="more">153 more lines</span>
    <div><a href='#'>View/download</a> (1.2 MiB) plain text</div>
  </td></tr>
    <tr><td>observation</td> <td>
            <img src="/images/mockup/jmol.png" width="250"/></td>
    <tr><td>features</td> <td><a href='#'>Download</a> (147 MiB) Excel spreadsheet</td></tr>
      
    </td></tr>
  </table>
</div>
