<div class="contribution_section_box"> 
    <h3 class="heading">
      Download  
  	</h3>
    <div class="download">
      <ul>
        <li><a href="/images/mockup/workflowrun.prov.ttl">Provenance (PROV-O)</a></li>
        <li><a href="/images/mockup/SNP2KEGG-prov-export.zip">Run archive (ZIP)</a></li>
      </ul>
    </div>
  </div>
