    <div class="annotation">
        <h3 class="type">Description</h3>
        <div class="body">
          This is a run of the Hello World workflow. As you see this produced some very interesting
          results, but this should be tested for consistency.
        </div>
        <div class="provenance">
          <span class="authoredBy">Stian Soiland-Reyes</span> on 
          <span class="authoredOn">2012-12-25 10:04</span>
        </div>        
      </div>  
