    <div class="annotation mockup">
        <h3 class="type">Description</h3>
        <div class="body">
          <p>
          The workflow maps a SNP (dbSNP id) to a gene (EntrezGene id).
          </p>
          <section>
            <h4>Purpose</h4>
            <p>
            The purpose of this workflow is to take the GWAS output consisting of SNP-metabolite associations and return genes present in the vicinity of the SNP ( for example, ~ 100 kb of the snp) and the pathways that these genes participate in. The user is provided with the choice of setting the flanking width to interrogate around the SNP.
          </p>
          </section>
          
          <section>
            <h4>Background</h4>
            <p>
            Genome-Wide Association studies (GWAS) with metabolomic phenotypes yield several statistically significant SNP-metabolite associations. To understand the biological basis of the association, scientists typically dwell on identifying genes in the vicinity of the SNP and the possible pathways that the gene participates in. The information needed to arrive at an understanding of the mechanistic basis of the association requires integration of disparate data sources.             
            </p>
          </section>
          

        </div>
        <div class="provenance">
          <span class="authoredBy">Kristina Hettne</span> on 
          <span class="authoredOn">2012-12-25 10:04</span>
        </div>        
      </div>  
