    <div class="annotation starters mockup">
        <h3 class="type">Run by</h3>
        <div class="body">
          <div>
            <span class="createdBy">Alan R Williams</span> 
            (<a href="mailto:alan@example.org">Contact</a>)
            <span class="createdOn">on 2012-12-24 18:40</span>
          </div>      
          <div>using Taverna Server 2.4.0 at <code>http://example.com/taverna-server/</code></div>

          <div class="runcomment"><strong>Comment:</strong> This run is a succesful run with the example input from the
            pack, and producing the example output that is also in the pack. This example run finds the pathways
            for the genes within 10000 nucleotides of a small selection of SNPs identified in a GWAS performed 
            on a Dutch subpopulation.</div>
          
        </div>
     </div>  