    <div class="annotation starters mockup">
        <h3 class="type">Started by</h3>
        <div class="body">
          <div>
            <span class="createdBy">Alan R Williams</span> 
            <span class="createdOn">on 2012-12-24 18:40</span>
          </div>      
          <div>using Taverna Server 2.4.0 at <code>http://example.com/taverna-server/</code></div>
        </div>
     </div>  