    <div class="tags mockup">
      <h3>Tags</h3>
      <div class="tags">
        <div class="hTagcloud">
          <ul class="popularity">
    <li><a href="http://www.myexperiment.org/tags/1139" class="vv-popular">bio2rdf</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/1578" class="vv-popular">bioclipse</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/1064" class="vvvv-popular">cheminformatics</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/1009" class="popular">drug development</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/1605" class="popular">proteins</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/607" class="vv-popular">rdf</a></li>
<li> | </li>
    <li><a href="http://www.myexperiment.org/tags/1140" class="v-popular">sparql</a></li>
          </ul>
        </div>
      </div>
    </div>