      <div class="annotation">
        <span class="type">Title:</span>
  			<span class="title">Functional annotation of single nucleotide polymorphisms (SNPs) using next-generation text mining and curated metabolic pathway databases
</span>
        <div class="provenance">
          <span class="authoredBy">Kristina Hettne</span> on 
          <span class="authoredOn">2012-05-14 17:05</span>
        </div>
      </div>