      <div class="annotation">
        <span class="type">Title:</span>
  			<span class="title">Hello World</span>
        <div class="provenance">
          <span class="authoredBy">Stian Soiland-Reyes</span> on 
          <span class="authoredOn">2012-05-14 17:05</span>
        </div>
      </div>