<div class="contribution_section_box tree">
    <h3 class="heading">
      Navigate RO
  	</h3>

  <div class="rotree">

  <%= render :partial => "folders/navigation", :locals => {:ro_uri => @contributable.url} %>
  
  </div>

</div>