<% if ro_uri %>
<div class="contribution_section_box tree">
    <h3 class="heading">
      Navigate RO
  	</h3>

  <div class="rotree">

  <%= render :partial => "folders/navigation", :locals => {:ro_uri => ro_uri} %>
  
  </div>

</div>
<% end %>