    <div class="annotation uploaders mockup">
        <h3 class="type">Maintained by</h3>
        <div class="body">
          <ul>
            <li><span class="createdBy">Stian Soiland-Reyes</span> 
              <span class="createdOn">(last uploaded on 2012-12-24 18:40)</span</li>
            <li><span class="createdBy">Khalid Belhajjame</span> 
              <span class="createdOn">(last uploaded on 2012-11-02 18:40)</span</li>
          </ul>
        </div>
      </div>  
