      <div class="annotation">
        <h3 class="type">Executed workflow</h3>
        <div class="body">
          <div><a href="/workflows/1">SNP_ID2EntrezGene_ID</a> by Kristina Hettne, Harish Dharuri</div>
          <img src="/images/mockup/workflow.jpg" height="300" />
        </div>
      </div>  	
