      <div class="annotation">
        <h3 class="type">Executed workflow</h3>
        <div class="body">
          <div><a href="/workflows/1">Hello world</a> by Stian Soiland-Reyes, Khalid Belhajjame</div>
          <img src="/images/mockup/workflow.jpg" />
        </div>
      </div>  	
