<% size ||= 100 -%>
<% limit ||= nil %>
<% unless collection.empty? %>
  <% orig_collection = collection %>
  <% collection = collection[0...limit] if limit %>
  <div id="hlist">
    <ul id="members">
      <% collection.each do |member| %>
        <%= render :partial => "networks/member", :locals => { :member => member, :size => size } %>
      <% end %>
    </ul>
    <%= "+ #{orig_collection.size - limit} others" if limit && orig_collection.size > limit %>
  </div>

  <div class="clearer">&nbsp;</div>

<% end %>