<% unless collection.empty? %>

<div id="hlist">
  <ul id="members">
    <% for member in collection %>
      <%= render :partial => "networks/member", :locals => { :member => member, :size => 60 } %>
    <% end %>
  </ul>
</div>

<div style="clear: both;"/>

<br />

<% end %>