<% unless collection.empty? %>

<div id="hlist">
<ul id="members"><% for member in collection %>
  <%= render :partial => "networks/member", :locals => { :network => network, :member => member } %>
<% end %></ul>
</div>

<div style="clear: both;"/>
  
<% end %>