<div class="contribution_section_box">
	<p style="font-size: 108%;">
	 	<b><%= pluralize network.members(true).length, "member" %></b>
	</p>
	
	<p style="font-size: 108%;">
	 	<b><%= pluralize items.length, "shared item" %></b>
	</p>
	
	<% if mine? network %>
		<p>
			<%= pluralize network.memberships_requested.length, "request" %> pending
		</p>
		<p>
			<%= pluralize network.memberships_invited.length, "invite" %> pending
		</p>
	<% end %>
	
</div>