<h2>All Groups</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @networks } %>

<%= render :partial => "networks/table", :locals => { :collection => @networks } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @networks } %>