<h1>New Network</h1>

<%= error_messages_for :network %>

<% form_for(:network, :url => networks_path) do |f| %>
  <%= render :partial => "networks/form", :object => f %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>