<h1>Search Results</h1>

<h3><%= pluralize(@networks.length, "Network") %> found for <%= @query ? "\"#{@query}\"" : "" %></h3>	

<%= render :partial => "networks/table", :locals => { :collection => @networks } %>

<br />
