<h2>Your workspace</h2>

<p>Welcome to your personal workspace, your gateway to all of myExperiment.</p>

<h3>Workflows</h3>

<% if session[:user_id] %>

<h4>Your workflows</h4>
<%= render(:partial => 'workflow/list', :locals => {:hideuser => true}) %>

<h4>Your bookmarked workflows</h4>

<%= render(:partial => 'workflow/bookmarked') %>

<% end %>



<div class="veryBig"><%= link_to 'Find workflows &rarr;', :controller => 'workflow'%></div>
