<% case controller.action_name.to_s; when "index" %>

  <li><%= link_to 'New Blob', new_blob_path %></li>

<% when "show" %>

  <% if @blob.authorized?("edit", (logged_in? ? current_user : nil)) %>
    <li><%= link_to 'Edit Blob', edit_blob_path(@blob) %></li>
  <% end %>

  <% if @blob.authorized?("download", (logged_in? ? current_user : nil)) %>
    <li><%= link_to 'Download Blob', download_blob_path(@blob) %></li>
  <% end %>

<% else %>

  <!-- no subnav options -->

<% end %>