<h1>Editing blob</h1>

<%= error_messages_for :blob %>

<% form_for(:blob, :url => blob_path(@blob), :html => { :method => :put }) do |f| %>
  <%= render :partial => "policies/listform", :locals => { :contribution => @blob.contribution, :user => current_user } if @blob.authorized?("destroy", current_user) %>

  <p>
    <%= submit_tag "Save Changes" %>
  </p>
<% end %>

<%= link_to 'Show', blob_path(@blob) %> |
<%= link_to 'Back', contributions_path %>
