<%= javascript_include_tag "osp.js" %>

<h1>Editing File</h1>

<%= error_messages_for :blob %>

<% form_for(:blob, :url => blob_path(@blob), :html => { :method => :put }) do |f| %>

  <%= render :partial => "contributions/sharing_form",  :locals => { :edit => true, :contributable => @blob } %>

  <%= render :partial => "contributions/updating_form", :locals => { :edit => true, :contributable => @blob } %>

  <p>
    <%= submit_tag "Save Changes" %>
  </p>
<% end %>
