<%= render :partial => "contributions/most", :locals => { :type => "Blob" } %>

<h2>All Files</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @blobs } %>

<%= render :partial => "blobs/table", :locals => { :collection => @blobs } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @blobs } %>

<br />