<% t "Search" -%>

<h1>Search Results</h1>

<h2><%= pluralize(@blobs.length, "file") %> found for <%= @query ? "\"#{@query}\"" : "" %></h2>

<%= render :partial => "blobs/table", :locals => { :collection => @blobs } %>

<br />
