Hi <%= @name %>,
 
<%= @member_name %> has joined the following Group on myExperiment, which you administrate:

Name: <%= @network.title %>
Administrator: <%= @network.owner.name %>

Note that <%= @member_name %> was able to join this Group because you have set it to automatically accept all Membership Requests.

Your username is: <%= @username %>

Thanks,
 
- The myExperiment Team
http://www.myexperiment.org