Hi <%= @user.name %>,
 
You have been sent a Membership Request from <%= @requestor.name %> to join the following Group on <%= Conf.sitename %>, which you administrate:

Name: <%= @network.title %>
Administrator: <%= @network.owner.name %>

Please go to <%= "http://" + @base_url + user_membership_path(@requestor, @membership) %> to confirm/reject this request.

Your username is: <%= @user.username %>

Thanks,
 
- The <%= Conf.sitename %> Team
<%= Conf.base_uri -%>
