Hi <%= @user.name %>,
 
You have been invited to join the following Group on myExperiment:

Name: <%= @network.title %>
Administrator: <%= @network.owner.name %>

Please go to <%= "http://" + @base_url + membership_path(@user, @membership) %> to confirm/reject this invite.

Your username is: <%= @user.username %>

Thanks,
 
- The myExperiment Team
<%= BASE_URI -%>