Hi <%= @name %>,
 
<%= @from_name %> has sent you a message on myExperiment.

Subject: <%= @subject %>

Please go to <%= url_for :only_path => false, :host => @base_url, :controller => 'messages', :id => @message_id, :action => 'show' %> to view the message.
Note that you may be asked to log in to see and reply to this message.

Your username is: <%= @username %>

Thanks,
 
- The myExperiment Team
<%= BASE_URI -%>