<h1>Listing viewings</h1>

<%= render :partial => "viewings/table", :locals => { :collection => @viewings, :contribution => @contribution } %>

<br />

<% if @contribution %>
  <%= link_to "Back", contribution_path(@contribution) %>
<% end %>