<h2>All Viewings</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @viewings } %>

<%= render :partial => "viewings/table", :locals => { :collection => @viewings, :contribution => @contribution } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @viewings } %>

<br />

<% if @contribution %>
  <p><%= link_to "Back", contribution_path(@contribution) %></p>
<% end %>