<p>
  <b>Contribution:</b>
  <%= render :partial => "contributions/list", :locals => { :collection => [@viewing.contribution] } %>
</p>

<p>
  <b>User:</b>
  <%=name @viewing.user_id, true %>
</p>

<p>
  <b>Created at:</b>
  <%=datetime @viewing.created_at %>
</p>

<%= link_to "Back", viewings_path(@viewing.contribution) %>
