<% t "Search" -%>

<h1>Search Results</h1>

<h2>Showing <%= pluralize(@maps.length, "map") %> of <%= @maps_found_total_count -%> found for <%= @query ? "\"#{@query}\"" : "" %></h2>

<%= view_privileges_notice %>
<br/>

<%= render :partial => "maps/table", :locals => { :collection => @maps } %>

<br />
