<h1>Editing relationship</h1>

<%= error_messages_for :relationship %>

<% form_for(:relationship, :url => relationship_path(@relationship), :html => { :method => :put }) do |f| %>
  <p>
    <b>Network</b><br />
    <%= f.text_field :network_id %>
  </p>

  <p>
    <b>Relation</b><br />
    <%= f.text_field :relation_id %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>