<h1>New Relationship</h1>

<%= error_messages_for :relationship %>

<% form_for(:relationship, :url => relationships_path) do |f| %>
  <p>
    <b>Group</b><br />
    <%= f.text_field :network_id %>
  </p>

  <p>
    <b>Relation</b><br />
    <%= select_tag "relationship[relation_id]", options_from_collection_for_select(@networks_owned, :id, :title) %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', relationships_path %>