<div class="box_form" style="width: 600px; text-align: left; margin-top: 10px; overflow: auto">
  <%= image_tag 'taverna_logo.png', :style => 'vertical-align: middle; float: right; width: 48px' -%>
  <h5>OnlineHPC</h5>
  <p>
    Create a new Taverna 2 workflow using your browser at <%= link_to 'OnlineHPC', online_hpc_url -%>.
  </p>
</div>