<div class="wfruns mockup">
  <h3>
    <%= info_icon_with_tooltip("Known workflow executions using this workflow definition") %>
    Workflow runs
  </h3>
  <ul>
    <li><a href="/research_objects/1/wfrun/1">Run #1 (2012-11-17)</a> by Kristina Hettne in RO <a href="/research_objects/1">Functional annotation of SNPs</a></li>
    <li><a href="/research_objects/1/wfrun/7">Run #7 (2012-12-24)</a> by Kristina Hettne in RO <a href="/research_objects/1">Functional annotation of SNPs</a></li>
    <li><a href="/research_objects/2/wfrun/1">Run #2 (2013-01-14)</a> by Stian Soiland-Reyes in RO <a href="/research_objects/2">Replicating Kristina's work</a></li>
  </ul> 
</div>