<div class="wfruns mockup">
  <h3>
    <%= info_icon_with_tooltip("Known workflow executions using this workflow definition") %>
    Workflow runs
  </h3>
  <ul>
    <li><%= link_to "Run #1 (2012-11-17)", { :controller => :packs, :action => :wfrun, :resource_path => "1"} -%> 
      by Kristina Hettne in RO <%= link_to "Functional annotation of SNPs", @pack -%> 
      <div class="runcomment"><strong>Comment:</strong> Example run with simple inputs</div>
    </li>
    <li><%= link_to "Run #7 (2012-12-24)", { :controller => :packs, :action => :wfrun, :resource_path => "7"} -%> 
      by Kristina Hettne in RO <%= link_to "Functional annotation of SNPs", @pack -%>  
      <div class="runcomment"><strong>Comment:</strong> Analysis with complete dataset (v2.4) as input</div>
    </li>
    <li><%= link_to "Run #2 (2013-01-11)", { :controller => :packs, :action => :wfrun, :resource_path => "2"} -%>  
      by Stian Soiland-Reyes in RO <%= link_to "Replicating Kristina's work", @pack -%>  
      <div class="runcomment"><strong>Comment:</strong> Using updated dataset v2.8</div>
    </li>
  </ul> 
</div>