<p><%= sharing_mode_text @sharing_mode %></p>

<% if @sharing_mode == 5 %>
	
	<ul>
		<% @workflow.contribution.policy.permissions.each do |p| %>
		  <li><%= h Network.find(p.contributor_id).title %></li>
		<% end %>
	</ul>
	
<% elsif @sharing_mode == 6 %>
	
	<ul>
		<% @workflow.contribution.policy.permissions.each do |p| %>
		  <li><%= h Network.find(p.contributor_id).title %></li>
		<% end %>
	</ul>
	
<% elsif @sharing_mode == 8 %>
	
	<p></p>
	
<% end %>

