<p>
	<b>Version created on:</b>
	<%= datetime version.updated_at %>
</p>

<p>
	<b>By:</b>
	<%= contributor version.contributor_id, version.contributor_type %>
</p>

<p>
	<b>Revision comments:</b>
</p>
<% unless version.revision_comments.blank? -%>
	<div>
		<%= white_list version.revision_comments %>
	</div>
<% else %>
	<p><i>None</i></p>
<% end %>
