<% unless @viewing_version.body.blank? %>
    <div class="contribution_description">
      <%= raw @viewing_version.body_html %>
    </div>
<% else %>
    <p class="none_text contribution_description">
      No description has been set
    </p>
<% end %>