<h1>Comments Timeline for Workflow: <%= contributable @workflow.id, 'Workflow' %></h1>

<%= render :partial => "comments/timeline", :locals => { :comments_url_for_timeline => comments_workflow_url(@workflow) } %>
