<h1>Edit annotations for <%= h(@workflow.title) -%></h1>

<%= error_messages_for :workflow -%>

<%= render(:partial => 'contributions/edit_annotations', :locals => { :update_path => update_annotations_workflow_path(@workflow), :resource_uri => workflow_url(@workflow), :annotations => @annotations }) -%>

<p style="text-align: center; margin: 1em">
  <% form_tag( { :action => "show" }, :method => :get) do %>
    <%= submit_tag("Return to workflow") -%>
  <% end %>
</p>

