<%= render :partial => "workflows/all_tags" %>

<%= render :partial => "contributions/most", :locals => { :type => "Workflow" } %>

<h2><%= feed_icon_tag "Latest Workflows", formatted_workflows_path(:rss) %> All Workflows</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @workflows } %>

<%= render :partial => "workflows/table", :locals => { :collection => @workflows } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @workflows } %>

<br />