<h1>Search Results</h1>

<h3><%= pluralize(@workflows.length, "Workflow") %> found for <%= @query ? "\"#{@query}\"" : "" %></h3>

<%= render :partial => "workflows/table", :locals => { :collection => @workflows } %>

<br />
