<h1>Search Results</h1>

<h2><%= pluralize(@workflows.length, "Workflow") %> found for <%= @query ? "\"#{@query}\"" : "" %></h2>

<%= render :partial => "workflows/table", :locals => { :collection => @workflows, :query => @query } %>

<br />
