<p>
  <b><%=h post.title %></b> (<%=datetime post.created_at, false %>)
  
  <% if my_page?(post.blog.contribution.contributor_id, post.blog.contribution.contributor_type) %>
     <%= icon "edit", edit_blog_post_path(post.blog, post) %>
     <%= icon "destroy", blog_post_path(post.blog, post), nil, :confirm => "Are you sure?", :method => "delete" %>
  <% end %>
</p>

<p>
  <%= post.body_html %>
</p>

<br/>
