<% case controller.action_name.to_s; when "show" %>

  <% if @blog_post.blog.authorized?("edit", (logged_in? ? current_user : nil)) %>
    <li><%= link_to 'Edit Blog Post', edit_blog_post_path(@blog_post.blog, @blog_post) %></li>
  <% end %>

<% else %>

  <!-- no subnav options -->

<% end %>