.hTagcloud { font-weight: normal; text-align: center; }
.hTagcloud .popularity 		{ margin:0; padding:0; }
.hTagcloud .popularity li	{ display:inline; text-decoration:none; }
.hTagcloud .popularity .popular			{ font-size:93% }
.hTagcloud .popularity .v-popular 		{ font-size:100%; }
.hTagcloud .popularity .vv-popular 		{ font-size:116%; }
.hTagcloud .popularity .vvv-popular		{ font-size:131%; }
.hTagcloud .popularity .vvvv-popular	{ font-size:153.9%; }