/* Stylesheet for the BioVeL group's skin, based on the e-LICO layout. Requires main myExperiment stylesheet. */

body  {
	background: #EEEB99;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    background: #FFFFFF;
}

.navbar {
    background-color: #99cc33;
    border-color: #8b2;
    margin-bottom: 0;
    box-shadow: 0 -1px 8px #000;
    border-radius: 0;
}

#selected_tabnav a,
.nav > li > a:hover,
.navbar-myexp .navbar-nav > .active > a, .navbar-myexp .navbar-nav > .active > a:hover,
.navbar-myexp .navbar-nav > .active > a:focus,
.navbar-myexp .navbar-nav > .open > a,
.navbar-myexp .navbar-nav > .open > a:hover,
.navbar-myexp .navbar-nav > .open > a:focus {
  background-color: #b1e10f;
  color: inherit;
}

/* Notification icon in navbar */
.alert-info {
    background-color: #edf7d9;
    border-color: #e8f1bc;
    color: #708f31;
}

.links {
  color: #608509
}
