body {
  margin: 0px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 12px;
  color: #333;
  overflow: hidden;
}

h1 {
  font-size: 18px;
}

a  { color: #03c }

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}
table{ margin: 0px; border: 0px; padding: 0px;}
tr{ margin: 0px; border: 0px; padding: 0px;}
td{ margin: 0px; border: 0px; padding: 0px;}
#settopic{ psition: absolute; bottom: 0px; left: 0px; width: 100%; height: 27px; padding: 0px; text-align: left; border-top: 0px; }
#settopic FORM { margin-left: 4px;}

#typebox { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 75px; margin: 0px; padding: 0px; text-align: center;
		border-top: 2px solid #aaa;}
#typebox FORM { margin: 0px; }
BODY.micro #typebox { height: 28px; }

#type { position: absolute; bottom: 26px; left: 0px; width: 100%; height: 45px; margin: 0px; padding: 0px; text-align: center;
        border: 0px}
#type FORM { margin: 0px; }
BODY.micro #type { height: 28px; }

#leave{ position: absolute; bottom: 0px; right: 0px; width: 200px; height: 27px; margin: 0px; padding: 0px; text-align: center; border-top: 0px; }
#leave FORM { margin-right: 0.7%;}

#save{ position: absolute; bottom: 0px; right: 100px; width: 100px; height: 27px; margin: 0px; padding: 0px; text-align: center; border-top: 0px; }
#save FORM { margin: 0px; }

#showfrom{ position: absolute; bottom: 0px; left: 0px; width: 100%; height: 27px; margin: 0px; padding: 0px; text-align: left; border-top: 0px; }
#showfrom FORM { margin-left: 0.3%; }
#changetopiclink{ position: absolute; top: 0px; right: 0px; width: 150px; height: 20px; margin: 4px; padding: 0px; text-align: right; border-top: 0px;}

#flash_channelmessage, #flash_error { padding: 8px; }
#flash_channelmessage { background-color: #cf0; }
#flash_error { background-color: #f90; }

#header { 
	position: absolute;
	top: 0px;
	left: 0px;
	height: 55px;
	width: 100%;
	background-color: #aaa;
	color: #fff;
	padding: 0px;
	margin: 0px;
	background: top left repeat url(../images/bluefade.gif);
	border-bottom: 2px solid #aaa;
}
BODY.micro #header {
	height: 18px;
}

#header H1 { margin: 3px; font-size: 18px }
#header H3 { margin: 3px; font-size: 12px }
BODY.micro #header H1 { margin: 2px 5px; font-size: 11px; }

#stage { padding: 8px 12px; }
BODY.micro #stage { padding: 4px 6px; }

#conversation {
	position: absolute;
	left: 0px;
	top: 57px;
	overflow: auto; 
	background-color: #eee;
	font-size: 14px;
	line-height: 22px;
	width: 80%;
	height: 90%;
}

BODY.micro #conversation {
	top: 20px;
	font-size: 11px;
	line-height: 14px;
}



#conversation .channelmessage .time { color: #aaa; }
#conversation .channelmessage .sender { color: #66f; font-weight: bold; }
#conversation .channelmessage .content { color: #333; }

#conversation .channelmessage.sys .time { color: #aaa; }
#conversation .channelmessage.sys .sender { color: #5b0; font-weight: bold; }
#conversation .channelmessage.sys .content { color: #5b0; font-weight: bold; }

#conversation .channelmessage.topicchange .time { color: #aaa; }
#conversation .channelmessage.topicchange .sender { color: #e08; font-weight: bold; }
#conversation .channelmessage.topicchange .content { color: #e08; font-weight: bold; }

#conversation .channelmessage.action .time { color: #aaa; }
#conversation .channelmessage.action .sender { color: #5b0; font-weight: bold; }
#conversation .channelmessage.action .content { color: #5b0; font-weight: bold; }



#userlist { 
	position: absolute;
	right: 0px;
	top: 57px;
	width: 19%;
	border-left: 2px solid #aaa;
	background-color: #fff;
	font-size: 16px;
	height: 92%;
	line-height: 22px;
}

BODY.micro #userlist {
	top: 20px;
	font-size: 10px;
	line-height: 13px;
}

#userlist .user {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}

BODY.micro #userlist .user {
	padding: 2px;
}


#userlist H3 { 
	background: top left repeat-x url(../images/grayfade.gif);
	color: #fff;
	padding: 3px;
	padding-left: 6px;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

BODY.micro #userlist H3 {
	font-size: 11px;
	padding: 2px;
	padding-bottom: 4px;
	padding-left: 4px;
}


#entryfield { font-size: 14px; margin-left: auto; margin-right: auto; width: 99%;}
BODY.micro #entryfield { font-size: 11px; }

#topicfield { font-size: 14px; right: 2px; width: 99.5%;}

BODY.micro .joinchat { font-size: 11px; }

#nickname { border: 3px solid #666; background-color: #eee; padding: 18px; font-size: 20px; margin-left: auto; margin-right: auto; width: 450px; margin-top: 4em}
#nickname INPUT { font-size: 20px }

BODY.micro #nickname { border: 1px solid #666; padding: 6px; font-size: 12px; margin-top: 3em; width: 250px }
BODY.micro #nickname INPUT { font-size: 12px; }