/* Stylesheet for the e-LICO layout. Requires main myExperiment stylesheet. */

body  {
    background: #cfd5dd;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    background: #FFFFFF;
}

.navbar {
    background: url("/images/elico_back1.png") repeat-x scroll center top #2C3966;
    border-color: #4d597e #4d597e #ccc #4d597e;
    margin-bottom: 0;
    box-shadow: 0 -1px 8px #000;
    border-radius: 0;
}

.navbar .nav > li > a {
    color: white;
}

.navbar .nav > li > a:hover {
    color: white;
}

#site_info_links, .form-control, .btn-default {
    border-color: #4d597e;
}

#site_info_links a {
    color: #4d597e;
}

#selected_tabnav a,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active,
.navbar-myexp .navbar-nav > .active > a, .navbar-myexp .navbar-nav > .active > a:hover,
.navbar-myexp .navbar-nav > .active > a:focus,
.navbar-myexp .navbar-nav > .open > a,
.navbar-myexp .navbar-nav > .open > a:hover,
.navbar-myexp .navbar-nav > .open > a:focus {
    background-color: #4d597e;
    color: white;
}

/*body  {*/
	/*background: #cfd5dd;*/
/*}*/

/*#myexp_searchbar, #myexp_sidebar, .pagination a  {*/
  /*background: #4d597e;*/
/*}*/

/*.tabnav li a:hover, .tabnav li#selected_tabnav a {*/
  /*background: none repeat scroll 0 0 #4d597e;*/
/*}*/

/*#elico_header*/
/*{*/
  /*background: url("/images/elico_back1.png") repeat-x scroll center top #2C3966;*/
/*}*/

/*#elico_links_bar*/
/*{*/
  /*width: auto;*/
  /*min-width: 950px;*/
  /*max-width: 1400px;*/
  /*height: 32px;*/
  /*margin: 0 auto;*/
  /*padding: 0 1em;*/
/*}*/

/*#elico_links_bar #inner*/
/*{*/
  /*border: 1px solid #7D89BE;*/
  /*background: #4D597E;*/
  /*margin: 0 -1em;*/
  /*padding: 0 1em;*/
/*}*/

/*.logo {*/
  /*width: auto;*/
  /*min-width: 950px;*/
  /*max-width: 1400px;*/
  /*float: none;*/
  /*text-align: left;*/
  /*color: white;*/
  /*margin: 0 auto;*/
  /*padding-top: 0.5em;*/
/*}*/

/*.links {*/
  /*height: 2em;*/
  /*padding: 0.5em;*/
/*}*/

/*.links a {*/
  /*color: white;*/
/*}*/

/*#doc2 {*/
  /*padding: 0 1em;*/
/*}*/

/* IE7 fixes */
/*#doc2 {*/
  /**overflow: hidden;*/
  /**height: 0px;*/
/*}*/

/*#elico_links_bar #inner {*/
  /**height: 100%;*/
  /*height: 100%;*/
/*}*/
/* end of IE7 fixes */

/*#myexp_header {*/
  /*margin: 0em 0.5em;*/
/*}*/

/*#hd*/
/*{*/
  /*padding-top: 1em;*/
/*}*/

