a {
	font-weight: bold;
}

a img,
p img,
li img {
	vertical-align: middle;
}

.frontpage_header {
	padding: 2em 3em 0 3em;
}

.frontpage_header .logo {
	float: left;	
	vertical-align: middle;
	display: block;
	margin-top: 0.8em;
}

.frontpage_header .text {
	float: right;
	width: 520px;
	text-align: center;
	font-size: 131%;
	color: #333333;
	line-height: 1.5;
	background-image: url('/images/box-bg1.png');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #FFFFCC;
	padding: 0.6em 1em;
	border: 1px solid #EED799;
}

#frontpage_body {
	padding-left: 3em;
	padding-right: 3em;
	text-align: center;
}

#frontpage_body .search {
	text-align: center;
	margin: 1em 0 1.5em 0;
	padding: 0.4em 1em;
	background-color: #D5E4F4;
}

#frontpage_body .stats {
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1.5em;	
	padding: 0.7em 1em;
	background-color: #D5E4F4;
	font-weight: bold;
	font-size: 108%;
	color: #000033;
}

#frontpage_body .box {
	float: left;
	margin: 0;
}

#frontpage_body .box .content {
	padding: 0.1em 0.8em;
	border-top: none;
	border-right: #D5E4F4 1px solid;
	border-bottom: none;
	border-left: #D5E4F4 1px solid;
	background-image: url('/images/home-box-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEF2FF;
	background-color: #E0EDF8;
	overflow: hidden;
}

#frontpage_body .box .heading {
	color: #000033;
	font-weight: bold; 
	font-size: 116%; 
	text-align: center; 
}

#frontpage_body .box .heading2 {
	color: #000033; 
	font-weight: bold;
	font-size: 100%;
	text-align: left !important;
	padding-bottom: 0.3em !important;
	border-bottom: 1px dotted #999999; 
}

#frontpage_body ul.use {
	list-style: none;
	margin-left: 2.5em;
}

#frontpage_body ul.use li {
	list-style: none;
	text-align: left;
	margin: 0.8em 0;
}

#frontpage_body .box .links a {
	font-weight: bold;
}

#frontpage_body .box .links p {
	text-align: center;
	text-align: center;
	padding: 0;
	line-height: 1;
	margin: 0.8em 0;
	color: #333333;
}

/* begin css rounded corners - based on "Snazzy Corners" */

#frontpage_body .box .xtop, 
#frontpage_body .box .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

#frontpage_body .box .xb1, 
#frontpage_body .box .xb2, 
#frontpage_body .box .xb3, 
#frontpage_body .box .xb4,
#frontpage_body .box .xb5, 
#frontpage_body .box .xb6, 
#frontpage_body .box .xb7 {
	display: block;
	overflow: hidden;
}

#frontpage_body .box .xb1, 
#frontpage_body .box .xb2, 
#frontpage_body .box .xb3, 
#frontpage_body .box .xb6, 
#frontpage_body .box .xb7 {
	height: 1px;
}

#frontpage_body .box .xb2, 
#frontpage_body .box .xb3, 
#frontpage_body .box .xb4 {
	background: #D5E4F4;
	border-left: 1px solid #D5E4F4;
	border-right: 1px solid #D5E4F4;
}

#frontpage_body .box .xb5, 
#frontpage_body .box .xb6, 
#frontpage_body .box .xb7 {
	background: #E0EDF8;
	border-left: 1px solid #D5E4F4;
	border-right: 1px solid #D5E4F4;
}

#frontpage_body .box .xb1 {
	margin: 0 5px;
	background: #D5E4F4;
}

#frontpage_body .box .xb2, 
#frontpage_body .box .xb7 {
	margin: 0 3px;
	border-width: 0 2px;
}

#frontpage_body .box .xb3, 
#frontpage_body .box .xb6 {
	margin: 0 2px;
}

#frontpage_body .box .xb4, 
#frontpage_body .box .xb5 {
	height: 2px;
	margin: 0 1px;
}

/* end css rounded corners - based on "Snazzy Corners" */

/* begin login styles */

#login .xtop,
#login .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

#frontpage_body .box #login .xb1,
#frontpage_body .box #login .xb2,
#frontpage_body .box #login .xb3,
#frontpage_body .box #login .xb4 {
	display: block;
	overflow: hidden;
}

#frontpage_body .box #login .xb1,
#frontpage_body .box #login .xb2,
#frontpage_body .box #login .xb3 {
	height: 1px;
}

#frontpage_body .box #login .xb2,
#frontpage_body .box #login .xb3,
#frontpage_body .box #login .xb4 {
	background: #EEEEEE;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}

#frontpage_body .box #login .xb1 {
	margin: 0 5px;
	background: #AAAAAA;
}

#frontpage_body .box #login .xb2 {
	margin: 0 3px;
	border-width: 0 2px;
}

#frontpage_body .box #login .xb3 {
	margin: 0 2px;
}

#frontpage_body .box #login .xb4 {
	height: 2px;
	margin: 0 1px;
}

#frontpage_body .login {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	padding: 0.2em 0.5em;
}

#frontpage_body .login p {
	line-height: 1.2;
	color: #333333;
	margin: 0;
	padding: 0.4em;
	text-align: center;
}

#frontpage_body .login .submit {
	border: none;
	height: 26px;
	width: 115px;
	background: url('/images/login-button.png') no-repeat left top;
	cursor: pointer;
}

#frontpage_body .login * {
	vertical-align: middle;
}

/* end login styles */

#frontpage_body ul#announcements {
	list-style: none;
	margin-left: 0.1em;
	overflow: hidden;
}

#frontpage_body ul#announcements li {
	list-style: none;
	text-align: left;
	margin: 0 0 1em 1.5em;
	text-indent: -1em;
}

