/* begin css gadget base */

.myexperiment_gadget {
	margin: 0 0 6px 0;
	text-align: center;
}

.myexperiment_gadget p {
	margin: 0;
}

.myexperiment_gadget ul.gadget_list {
	list-style: none;
	padding-left: 0;
	margin: 0.3em;
}

.myexperiment_gadget ul.gadget_list li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 93%;
}

.myexperiment_gadget ul.gadget_list li * {
	vertical-align: middle;
}

.myexperiment_gadget .header {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
	background-color: #E0E0E0;
	text-align: center;
	padding: 0 6px 0 6px;
}

.myexperiment_gadget .subheader {
	font-weight: bold;
	text-align: center;
	font-size: 85%;
	line-height: 1.4;
	color: #333333;
	margin: 0 4px;
}

.myexperiment_gadget .header P {
	font-weight: bold;
	text-align: center;
}

.myexperiment_gadget .header small {
	font-size: 85%;
	line-height: 1.4;
	color: #333333;
	margin: 0 4px;
}

.myexperiment_gadget .contents {
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
	color: #000000;
	padding: 0.4em;
	margin-top: 0;
	text-align: center;
	background-color: #FFFFFF;
}

.myexperiment_gadget .contents p {
	text-align: center;
}

.myexperiment_gadget .contents hr {
  border: none;
	height: 2px;
  color: #456AAA;
  background-color: #456AAA;
	margin: 0.7em 0;
	*margin: 0;
	padding: 0;
}

.myexperiment_gadget .contents .box1 {
	border: 1px dotted #999999;
	padding: 0.2em 0;
}

.myexperiment_gadget .contents .label {
	font-size: 93%;
	color: #333333;
	padding: 0.2em 0;
	line-height: 1.0;
	margin: 0;
}

.myexperiment_gadget .contents .title {
	font-size: 93%;
	font-weight: bold;
	color: #990000;
}

.myexperiment_gadget .contents .field {
	border: solid 1px #CCCCCC;
	background-color:#F0F8FF;
	color: #333333;
	padding: 2px;
	font-size: 93%;
}

.myexperiment_gadget .sectionIcons { 
	margin: 0.5em 0;
}

/* end css gadget base */

/* begin css New Object Gadget style */

#new_object_form {
	padding: 0;
}

#new_object_type {
	width: 110px;
}

/* end css New Object Gadget style */

/* begin css User Monitor Gadget styles */

#myexp_usermonitor_gadget_contents {
	margin: 0;
	text-align: left;
}

#myexp_usermonitor_gadget_contents .content {
	line-height: 1.1;
}

/* begin css User Monitor Gadget styles */

/* begin css Asset Manager Gadget styles */

#myexp_assetmanager_gadget_contents {
	max-height: 150px;
	overflow: auto;
	line-height: 1.1;
	text-align: left;
}

#myexp_assetmanager_gadget_contents .title {
	margin-top: 0.6em;
	margin-bottom: 0.2em;
	padding: 0.2em 0;
  font-size: 100%;
}

#myexp_assetmanager_gadget_contents .content {
}

#myexp_assetmanager_gadget_contents li {
	font-size: 85%;
	font-weight: normal;
}

/* end css Asset Manager Gadget styles */
