body{
        font-family: "Liberation Sans", "Bitstream Vera Sans", sans-serif;
        width: 860px;
        margin: 0px auto 0 auto;
        background: #8e8e8e url('/images/body-bg.gif') repeat-y center;
}

#columns{

position: relative;

 }

#content{

width: 600px;
 }

#sidebar{

width: 260px;
position: absolute;
top: 0;
left: 600px;

}

#sidebar h2{ color: black; font-size: 1.4em; margin: 0; padding: 0; text-align: center; font-weight: normal; padding-top: 0.4em; }

#header { position: relative; }

#header #nav{ background-color: #666; margin: 0; }

#mygrid{ position: absolute; top: -16px; right: 0px; line-height: 48px;  font-size: 0.8em; }



#mygrid li{ display: inline;  margin-left: 0.5em; font-size: 1.3em;  }



.twobox{ width: 270px; float: left; background-image: url('/images/redbg.png'); background-repeat: repeat-x; font-size: 0.8em;  min-height: 34em; padding: 15px; padding-top: 0; color: white; margin-bottom: 1em;}

.twobox h2{ color: white; font-size: 2em; margin: 0; padding: 0; text-align: center; font-weight: normal; padding-top: 0.4em; margin-bottom: 0.5em;}

.twobox h3{text-align: center; }

.twoboxone a{ color: yellow; }

.twoboxtwo h2{ color: black; }

.twoboxtwo { left: 300px; background-image: url('/images/greenbg.png');  color: black;}

#logo{background: url('/images/logo.png') no-repeat;border:0;margin:0; margin-top: 1em;padding:0; margin-bottom: 0.5em; }

#logo a{display:block;text-decoration:none;overflow:hidden;border:0;margin:0;padding:0;padding-top:48px;height:0px !important;width:282px;cursor:pointer;}

#caption{background: url('/images/sf.png') no-repeat;border:0;margin:0; display:block;text-decoration:none;overflow:hidden;border:0;margin:0;padding:0;padding-top:159px;height:0px !important;width:600px;}


#imgcopyright{ font-size: 0.8em; }

.visualClear{ clear: both; }

.txt{ font-size: 1.3em;  padding: 0.3em;background-color: orange; }

.quote{ font-size: 1.1em;background-color: #ffb; padding: 1em; min-height: 130px; }

.quote h3{ text-align: center; padding: 0; margin: 0; margin-bottom: 0.5em; text-transform: uppercase; }

#funding{ font-size: 1.2em; }

#footer{ font-size: 0.8em; text-align: right; margin-top: 1em; border-top: 1px solid #ddd; padding-top: 1em;}

h1, h2, h3{ margin-bottom: 1em; }

img{ border: 0; }

.netscape4, hr { display: none !important; }

.right{ text-align: right; }

p, li{ margin-bottom: 1em; line-height: 1.3em; }

ul{ margin-left: 2.5em; margin-top: 0.5em; list-style: square;  }

ol{ margin-left: 2.5em; margin-top: 0.5em; list-style: decimal;  }

/* begin css tabs */

ul#tabnav { /* general settings */
  text-align: center; /* set to left, right or center */
  margin: 0; /* set margins as desired */
  border-bottom: 1px solid #6c6; /* set border COLOR as desired */
  list-style-type: none;
  padding: 0px 0px 4px 0px; /* THIRD number must change with respect to padding-top (X) below */
  font-size: 0.8em;
}

ul#tabnav li { /* do not change */
  display: inline;
}

ul#tabnav li#selected_tabnav a {
  /* settings for selected tab */
  background-color: #fff !important; /* set selected tab background color as desired */
  color: #000; /* set selected tab link color as desired */
  position: relative;
  border-bottom: 1px solid #fff;
  padding-top: 5px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a {
  /* settings for all tab links */
  padding: 5px 9px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  background-color: #cfc; /* set unselected tab background color as desired */
  color: #666; /* set unselected tab link color as desired */
  margin-right: 3px; /* set additional spacing between tabs as desired */
  margin-left: 3px;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover {
  /* settings for hover effect */
  background-color: #cfc; /* set desired hover color */
  color: #1a1a1a !important;
}

/* end css tabs */

#fxContainer form input {font-size: 1em; text-align: center;}

      small{font-size: 0.6em;}

#fxContainer {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 200;
        width: 100%;
font-size: 0.8em;
}

#fxTarget {
        width: 100%;
        position: relative;
        top: 0;
        z-index: 19;
        overflow: hidden;
        height: 0px;
background-color: #179032;
}

#fxPadding {
        visibility: hidden;
        padding: 0 45px;
}

#fxShadow {
        position: relative;
        width: 100%;
        height: 6px;
        overflow: hidden;
        z-index: 20;
}

#fxTrigger {
        cursor: pointer;
}

#fxTab {
        position: relative;
        bottom: 0;
        right: 60px;
        margin: -6px auto;
        text-align: right;
        height: 38px;
        line-height: 36px;
        font-weight: bold;
        width: 100%;
        z-index: 21;
}

#fxTab a:link,
#fxTab a:visited,
#fxContainer a:link,
#fxContainer a:visited {
        z-index: 100;
        color: blue !important;
text-decoration: underline !important;
}

#fxTab a:hover {
        text-decoration: none;
}

#searchbar{ position: absolute; top: 18px; right: 0px; }

.greenRow{ padding: 1em; }

.half{ width: 50%; float: left; }

h1, h2, h3, h4, h5, h6{ font-size: 130%; font-weight: bold; margin-bottom: 1em; }

.center{ text-align: center; }

.large{ font-size: 120%; }

.half label{ width: 10em; display: block; }