.navbar-myexp {
    background-color: #fafafa;
    border-color: #cccccc;
}

.navbar-myexp .navbar-nav > .active > a,
.navbar-myexp .navbar-nav > .active > a:hover,
.navbar-myexp .navbar-nav > .active > a:focus,
.navbar-myexp .navbar-nav > .open > a,
.navbar-myexp .navbar-nav > .open > a:hover,
.navbar-myexp .navbar-nav > .open > a:focus {
    background-color: #456aaa;
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fafafa;
}

.navbar-myexp .navbar-header > .navbar-toggle {
    border: 1px solid #cccccc;
}

.navbar-myexp .navbar-header > .navbar-toggle > span.icon-bar {
    background-color: #cccccc;
}

.navbar-myexp a {
    color: #333;
}

.navbar-myexp a:hover, .navbar-myexp a:focus {
    color: #888;
}

/*  */
.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
    width: auto;
}

/* myExp logo, red: #cc0031, green: #098224 */