/* pagination stype from http://www.dynamicdrive.com/style/csslibrary/item/css-pagination-links/ */

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.pagination{
padding: 2px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 12px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 3px 5px 0 5px;
border: 1px solid gray;
text-decoration: none; 
color: #158f31;
}

.pagination a:hover, .pagination a:active{
border: 1px solid black;
color: white;
background-color: #158f31;
}

.pagination li.currentpage{
font-weight: bold;
padding: 3px 5px 0 5px;
border: 1px solid gray;
background-color: white;
color: #ce0434;
}

.pagination li.disablepage{
padding: 3px 5px 0 5px;
border: 1px solid #929292;
color: #929292;
}

.pagination li.nextpage{
/*font-weight: bold;*/
}

* html .pagination li.currentpage, * html .pagination li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
margin-right: 5px;
padding-right: 0;
}
