body {
  background: #8e8e8e url('/images/body-bg.gif') repeat-y center;
}


pre {
  background-color: #eee;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

a img, a img:hover {
  border: 0;
}

#hlist
{
width: 100%;
}

#hlist ul
{
width: 100%;
display: inline;
list-style: none;
}
#hlist ul li
{
width: 200px;
float: left;
display: inline;
list-style: none;
text-align: center;
}

#openid_url {
background: url(/images/openid.gif) no-repeat;
padding-left: 18px;
}


#myexp_wrapper{
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

#myexp_inner {
  padding-left: 2em;
  padding-right: 2em;
}

#myexp_header {
  padding-bottom: 1em;
}

#navbar {
  padding-bottom: 1em;
}

#subnav {
  text-align: center;
  background-color: #cfc;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#subnav li {
  display: inline;
}

#subnav li a {
  color: blue;
  font-weight: bold !important;
  text-decoration: none;
  margin-right: 1em;
}

#subnav li a:hover {
  color: red;
}

#searchbar {
  padding-top: 0em;
  text-align: center;
  background: #ffffff url('/images/searchfade.png') repeat-x center;
}