body { 
  background: #8e8e8e url('/images/body-bg.gif') repeat-y center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

td {
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: black; }
a:visited { color: black; }
a:hover { color: red; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

a img, a img:hover {
  border: 0;
}

#hlist
{
width: 100%;
}

#hlist ul
{
width: 100%;
display: inline;
list-style: none;
}
#hlist ul li
{
width: 200px;
float: left;
display: inline;
list-style: none;
text-align: center;
}

#openid_url {
background: url(/images/openid.gif) no-repeat;
padding-left: 18px;
}

/* begin css tabs */

ul#tabnav { /* general settings */
  text-align: center; /* set to left, right or center */
  margin: 0; /* set margins as desired */
  border-bottom: 1px solid #6c6; /* set border COLOR as desired */
  list-style-type: none;
  padding: 0px 0px 4px 0px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
  display: inline;
}

ul#tabnav li#selected_tabnav a {
  /* settings for selected tab */
  background-color: #cfc !important; /* set selected tab background color as desired */
  color: #000; /* set selected tab link color as desired */
  position: relative;
  border-bottom: 1px solid #cfc;
  padding-top: 5px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { 
  /* settings for all tab links */
  padding: 5px 9px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  background-color: #fff; /* set unselected tab background color as desired */
  color: #666; /* set unselected tab link color as desired */
  margin-right: 3px; /* set additional spacing between tabs as desired */
  margin-left: 3px;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover { 
  /* settings for hover effect */
  background-color: #cfc; /* set desired hover color */
  color: #1a1a1a !important;
}

/* end css tabs */

#myexp_wrapper{
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

#myexp_inner { 
  padding-left: 2em;
  padding-right: 2em;
}

#myexp_header {
  padding-bottom: 1em;
}

#navbar {
  padding-bottom: 1em;
}

#subnav { 
  text-align: center; 
  background-color: #cfc;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#subnav li { 
  display: inline; 
}

#subnav li a { 
  color: blue;
  font-weight: bold !important; 
  text-decoration: none; 
  margin-right: 1em; 
}

#subnav li a:hover {
  color: red;
}

#searchbar {
  padding-top: 0em;
  text-align: center; 
  background: #ffffff url('/images/searchfade.png') repeat-x center;
}

#policies_div
{
width: 100%;
}

#policies_div ul
{
width: 100%;
display: inline;
list-style: none;
}

#policies_div ul li
{
width: 300px;
padding-left: 10px;
margin-left: 5px;
margin-bottom: 5px;
float: left;
display: inline;
list-style: none;
border: thin solid black;
}

#contributions tr.odd_row td
{
  background-color: #eee;
}

#contributions tr.even_row td
{
  background-color: #fff;
}