.boxoverTooltipHeader
{
	display: none;
	border: 0;
	height: 0;
}

.boxoverTooltipBody
{
	border: solid 1px Gray;
	color: #000000;
	background-color: #FFFF66;
	font-size: 1em;
	font-weight: normal;
	padding: 0.4em 0.6em;
	max-width: 500px;
}

.info_text
{
	font-size: 1em;
	background-color: #FFFF99;
    margin: 1.5em;
    padding: 1em;
    border: 1px dotted #999999;
    font-style: normal;
}

.home_header
{
    padding: 0.5em 3em 0.1em 3em;
    text-align: left;
}

#myexp_header p.logo
{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#myexp_header p.heading 
{
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: normal;
}

#myexp_home_content
{
  padding-left: 4em;
  padding-right: 4em;
}

#myexp_home_content .header
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    color: #333333;
}

.myexp_home_content_box
{
    border: 1px dotted #999999;
    padding: 2em;
}

.myexp_home_image_action
{
    padding-top: 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: bolder;
}

table.login {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

table.login *
{
    vertical-align: middle;
}


table.login td {
	border-width: 0;
	background-color: #F5F5F5;
	padding: 0.2em 0.6em;
}

#myexp_home_logonbox .xtop, #myexp_home_logonbox .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

#myexp_home_logonbox .xb1, 
#myexp_home_logonbox .xb2, 
#myexp_home_logonbox .xb3, 
#myexp_home_logonbox .xb4 {
	display: block;
	overflow: hidden;
}

#myexp_home_logonbox .xb1, 
#myexp_home_logonbox .xb2, 
#myexp_home_logonbox .xb3 { 
	height: 1px;
}

#myexp_home_logonbox .xb2, 
#myexp_home_logonbox .xb3, 
#myexp_home_logonbox .xb4 {
	background: #F5F5F5;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

#myexp_home_logonbox .xb1 {
	margin: 0 5px;
	background: #999999;
}

#myexp_home_logonbox .xb2 {
	margin: 0 3px;
	border-width: 0 2px;
}

#myexp_home_logonbox .xb3 {
	margin: 0 2px;
}

#myexp_home_logonbox .xb4 {
	height: 2px;
	margin: 0 1px;
}

#new_object_form {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;
}

#new_object_form form #new_object_box {
	background-color: #F5F5F5;
	border: solid 1px #999999;
	text-align: center;
}

#new_object_form form #new_object_box select #new_object_type {
	width: 130px;
	font-weight: bold;
}

#new_object_form form #new_object_box input {
	margin-top: 0.5em;
	width: 50px;
}

.news_feed_div p.title {
	font-weight: bold;
	width: 100%;
	text-align: left;
	border-bottom: 1px dotted #999999;
}

.news_feed_div ul.news_feed_day {
	padding-left: 2em;
	list-style-type: none;
	margin-bottom: 1em;
	line-height: 1.5em;
}

.news_feed_div ul.news_feed_day li.news_feed_item {
	
}

.news_feed_div ul.news_feed_day li.news_feed_item a, .news_feed_div ul.news_feed_day li.news_feed_item a:visited {
	color: #000099;
}

body { 
  background: #8e8e8e url('/images/body-bg.gif') repeat-y center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

hr
{
	margin: 2em 0;
}

h1
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.4em;
	color: Black;
	background-color: white;
	padding: 0.5em 0em;
	margin: 0 0 1.5em 0;
	text-align: center;
}

h3
{
	/* font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif; */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	color: Black;
	background-color: #F5F5F5;
	padding: 0.5em;
	margin: 1.5em 0 1.5em 0;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

h4
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	color: Black;
	padding: 0.2em 0;
	margin: 0;
}

td {
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000099; text-decoration: none; border-bottom: 1px dashed transparent;}
a:visited { color: #000099; }
a:hover { color: red; border-bottom: 1px dashed gray;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

a img, a img:hover {
  border: 0;
}

#hlist
{
/*width: 100%;*/
}

#hlist li
{
list-style: none;
float: left;
/*width: 145px;*/
margin: 3px;
display: inline;
/*text-align: center;*/
}

#openid_url {
	background: url(/images/openid.gif) no-repeat;
	padding-left: 16px;
}

/* begin css tabs */

.tabnav
{
text-align: center;
padding: 7px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 10px;
font-weight: bold;
font-size: 1.2em;
}

.tabnav li
{
list-style: none;
margin: 0;
display: inline;
}

.tabnav li a
{
padding: 6px 12px;
margin-left: 3px;
border: 1px solid #999999;
border-bottom: 1px solid transparent;
background: #F5F5F5;
text-decoration: none;
}

.tabnav li a:link { color: #333333; }
.tabnav li a:visited { color: #333333; }

.tabnav li a:hover
{
color: #FFFFFF;
background: #317eff;
}

.tabnav li#selected_tabnav a
{
background: #317eff;
border-bottom: 1px solid transparent;
color: #FFFFFF;
}

/* end css tabs */

#myexp_header {
  width: 900px;
  margin: 20px auto 10px auto;
  padding: 0;
}

#myexp_middle {
  width: 900px;
  margin: 10px auto 10px auto;
  padding: 0;
}

#myexp_footer {
  width: 900px;
  margin: 10px auto 10px auto;
  padding: 0;
}

#myexp_body {
  float: left;
  width: 700px;
  padding: 0;
  margin: 0;
}

#myexp_sidebar {
  float: left;
  width: 190px;
  margin: 0 0 0 10px;
  padding: 0;
}

#myexp_breadcrumbs_bar
{
  font-weight: bold !important; 
  color: #333333;
  text-decoration: none;
  padding: 0.5em;
  margin-bottom: 10px;
}

#myexp_breadcrumbs_bar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#myexp_breadcrumbs_bar li
{
	display: inline; 
}

.subnav { 
  border-top: 1px solid #317eff;
  text-align: left; 
  background-color: #317eff;
  margin: 0;
  padding: 5px;
}

.subnav li { 
  display: inline; 
  color: white;
}

.subnav li a {
  color: white;
  font-weight: bold !important; 
  text-decoration: none; 
  /*margin-right: 1em; */
  border-bottom: 1px solid transparent;
}

.subnav li a:hover {
  color: #eea0a0;
  border-bottom: 1px dashed gray;
}

/* light color = #317eff */
/* dark color = #317eff */

/* logo red = #CE0434 */
/* logo green = #179032 */

.sidenav {
	font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #333;
}

.sidenav ul {
	border: none;
	margin: 0;
}

.sidenav li {
	list-style-type: none;
	display: inline;
	padding: 0.2em;
	margin: 0em;
}

.sidenav li a {
	border: 1px solid #2175bc;
	background-color: #90bade;
	display: inline;
	color: #fff;
	text-decoration: none;
}

.sidenav li a:hover {
	background-color: #2586d7;
	color: #fff;
}

#tag_clouds {
  text-align: center;
}

#searchbar form {
  padding: 0;
  margin: 0;
}

#searchbar {
  height: 30px;
  padding-top: 0;
  margin-top: 0;
  text-align: center; 
  background-image: url('/images/searchfade.png');
  background-repeat: repeat-x;
  background-position: top center;
}

#policies_div
{
width: 100%;
text-align: center;
}

#policies_div ul
{
padding-left: 0;	
}

#policies_div li
{
list-style: none;
float: left;
width: 300px;
margin-left: 10px;
margin-bottom: 10px;
display: inline;
border: 1px dotted #999999;
padding: 1em;
}

table.alt_table
{
width: 100%;
}

table.alt_table tr.odd_row td
{
  background-color: #eee;
}

table.alt_table tr.even_row td
{
  background-color: #fff;
}

table.alt_table tr td 
{
  padding: 5px 5px 5px 5px;
}

/*
table.alt_table tr td.actions
{
  width: 100px;
  text-align: left;
}
*/

table.alt_table tr td.contributable
{
  margin: 5px 0px 5px 0px;
  padding: 1em;
}

table.alt_table tr.even_row td.contributable table.contributable:hover,
table.alt_table tr.odd_row td.contributable table.contributable:hover
{
  border: 1px dotted #999999;
}

table.contributable {
  border: 1px dotted #999999;
  padding: 1em;
  margin-left: 5px;
  margin-bottom: 10px;
}

table.contributable:hover {
  border: 1px dotted #999999;
}

/* http://www.mis-algoritmos.com/wp-content/uploads/pagstyle.php?q=manu */
.pagination {
	padding: 3px;
	margin: 3px;
	text-align: center;
}

.pagination ul {
	list-style-type: none;
	
}

.pagination ul li {
	display: inline;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #317eff;
	text-decoration: none; /* no underline */
	color: #179032;
}

.pagination a:hover,
.pagination a:active {
	border: 1px solid #CE0434;
	color: #179032;
}
.pagination .currentpage {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #179032;
	font-weight: bold;
	background-color: #179032;
	color: #FFF;
}
.pagination .disabledpage {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}

.network_banner 
{
  /*width: 640px;*/
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
}

.network_banner:hover
{
  /*border: 1px solid black;*/
}

table tr td.details 
{
  text-align: left;
}

/* folding */

.fold {
  margin-bottom: 2em;
  padding: 0px;
}

.foldTitle 
{
  font-weight: bold;
  background: #444444;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
}

.foldText {
  text-align: left;
}

.foldImage {
  text-align: right;
}

.foldContent {
  border: 1px solid #aaa;
  padding: 0 1em;
}

/* tabs */

.tabsContainer {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  top: 1px;
}

.tabsContainer IMG {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.tabsContainer TABLE {
  height: 24px;
  border-spacing: 0;
}

.tabsContainer TABLE TR TD {
  padding: 0;
  vertical-align: middle;
}

.tabSelected {
  border-top: 1px solid #909090;
  border-bottom: 1px solid white;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
  white-space: nowrap;
  pointer: pointer;
  cursor: pointer;
}

.tabUnselected {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  color: #404040;
  background: #d8d8d8;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
  white-space: nowrap;
  pointer: pointer;
  cursor: pointer;
}

.tabSelIMG {
  border-bottom: 1px solid white;
}

.tabUnselIMG {
  border-bottom: 1px solid #909090;
}

.tabTitle {
  background: #222;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.tabContent {
  border: 1px solid #909090;
  padding: 0.5em;
  margin-bottom: 1.0em;
  background: white;
}

.myexperiment_gadget {
	margin: 0 0 1em 1em;
	padding: 0;
}

.myexperiment_gadget form {
  margin: 0;
}

.myexperiment_gadget ul.gadget_list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.myexperiment_gadget .header {
	border: #999999 0px solid;
	border-width: 0 1px 1px 1px;
	background-color: #F5F5F5;
	text-align: center;
	padding: 0.1em 0 0.2em 0;
	line-height: 1em;
	margin: 0;
}

.myexperiment_gadget .header p {
	font-weight: bold;
	padding: 0;
}

.myexperiment_gadget .contents {
	border-top: none;
	border-right: #999999 1px solid;
	border-bottom: none;
	border-left: #999999 1px solid;
	color: #000000;
	padding: 0.6em;
	margin-top: 0;   
	text-align: left;
	background-color: #FFFFFF;
}

/* Asset Manager Gadget styles */

#myexp_assetmanager_gadget_contents
{
	height: 150px;
	overflow: auto;
}

#myexp_assetmanager_gadget_contents .title
{
	margin-top: 0.5em;
	padding: 0.1em 0;
	border-bottom: 1px dotted #999999;
	font-weight: bold;
}

#myexp_assetmanager_gadget_contents .content
{
	line-height: 1.1em;
}

/* User Monitor Gadget styles */

#myexp_usermonitor_gadget_contents
{
}

#myexp_usermonitor_gadget_contents .title
{
	margin-top: 0.5em;
	padding: 0.1em 0;
	border-bottom: 1px dotted #999999;
	font-weight: bold;
}

#myexp_usermonitor_gadget_contents .content
{
	line-height: 1.1em;
}


/* Based on "Snazzy Corners:" */
.xtop, .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {
	display: block;
	overflow: hidden;
}

.xb1, .xb2, .xb3, .xb6, .xb7 { 
	height: 1px;
}

.xb2, .xb3, .xb4 {
	background: #F5F5F5;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.xb5, .xb6, .xb7 {
	background: #FFFFFF;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.xb1 {
	margin: 0 5px;
	background: #999999;
}

.xb2, .xb7 {
	margin: 0 3px;
	border-width: 0 2px;
}

.xb3, .xb6 {
	margin: 0 2px;
}

.xb4, .xb5 {
	height: 2px;
	margin: 0 1px;
}

.sectionIcons {
  margin-left: 0px;
  padding-left: 3px;
}

.sectionIcons LI {
  margin: -3px;
  display: inline;
}

.sectionIcons LI:hover {
  margin: -3px;
}

.sectionIcons LI A {
  padding: 4px;
  margin: 1px;
}

.sectionIcons LI A:hover {
  border: 1px solid blue;
  padding: 3px;
  margin-left: 1px;
  margin-right: 1px;
  color: red;
  text-decoration: none; 
  background-color: #b1ceff;
}

.icon A {
  white-space: nowrap;
  padding-right: 2px;
  vertical-align: middle;
}

.icon IMG {
  vertical-align: middle;
  padding: 2px;
}

.user_context_panel
{
	padding: 1em;
	border: 1px dotted #999999;
	margin: 1.5em 0;
}

