<% if service_valid -%>
	myExperiment successfully connected to and verified the service specified by this Runner.
<% else -%>
	myExperiment was unable to connect to and verify the service specified by this Runner.
<% end -%>