<% size ||= 100 -%>
<div style="width: <%= size.to_i+20 %>px; height: <%= size.to_i+40 %>px; text-align: center;">
  <%= link_to avatar(user, size), user_path(user) %><br />
  <%= name user, 15 %>
</div>
