<% unless collection.empty? %>

<div id="hlist">
<ul><% for user in collection %>
<li>
  <p>
    <%= render :partial => "users/avatar", :locals => { :user => user } %><br/>
  </p>
</li>
<% end %></ul>
</div>

<br style="clear: both;" />

<% end %>
