<% t "All" -%>

<h2>All Users</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @users } %>

<%= render :partial => "users/table", :locals => { :collection => @users } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @users } %>