<h3>Recent Members</h3>

<%= render :partial => "users/hlist", :locals => { :collection => User.most_recent } %>

<h3>All Users</h3>

<%= render :partial => "layouts/paginate", :locals => { :collection => @users } %>

<%= render :partial => "users/table", :locals => { :collection => @users } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @users } %>

<br />