<% if logged_in? %>
  <%= render :partial => "users/invite", :locals => { :current => current_user } -%>
<% else %>
  <p><strong><%= link_to "Log in", new_session_url %> to invite new users to myExperiment </strong></p>
<% end %>