<h1>Search Results</h1>

<h3><%= pluralize(@users.length, "User") %> found for <%= @query ? "\"#{@query}\"" : "" %></h3>

<%= render :partial => "users/table", :locals => { :collection => @users } %>

<br />
