<% t "All" -%>

<h2>All Algorithms</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @contributables } %>

<%= render :partial => "algorithms/table", :locals => { :collection => @contributables } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @contributables } %>
