  <div style="border: 1px solid red; padding: 5px 0px 10px 0px;">
    <h1>The page you were looking for doesn't exist.</h1>
    <p style="text-align: center;">You may have mistyped the address or the page may have moved.</p>
  </div>
