<!-- New Users -->
<% if false %>
    <div class="box">
      <div class="title">
        New Users
      </div>
      <div class="content">
        <% unless (users = User.most_recent(6)).empty? %>
            <div style="font-size: 93%;">
              <%= render :partial => "users/hlist", :locals => { :collection => users, :size => 60 } %>
            </div>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>
<% end %>
