<!-- News -->
<div class="box">
  <div class="title">
    My News
  </div>
  <div class="content">
    <% if logged_in? %>
        <%= render :partial => "layouts/news", :locals => { :collection => news(current_user, false) } %>
    <% else %>
        <p>
          <b><%= link_to "Log in", new_session_url %> to view your News</b>
        </p>
    <% end %>
  </div>
</div>
