<!-- News -->
<div class="box">
  <div class="title">
    My News
  </div>
  <div class="content">
    <% if logged_in? %>
        <%= render :partial => "layouts/news", :locals => { :collection => news(current_user, false) } %>
    <% else %>
    <% end %>
  </div>
</div>
