<div id="home_container" class="row">
  <div class="col-md-9">
    <%= render :partial => "static_announcement" %>
  </div>
  <div class="col-md-3">
    <%= render :partial => 'stats' %>
  </div>
</div>
