<div style="text-align: center; margin-top: 0.5em;">
  <span class="owner">Project</span>
  <%= link_to image_tag('/images/biovel.png', :style => 'width: 80px; height: 80px; margin-top: 0.2em;'),
              network_path(Conf.layouts['biovel_internal']['network_id']) -%>
</div>