<ul class="workflowList">
<% for workflow in @workflows %>
  <li><%=link_to image_tag(url_for_file_column(workflow, 'image', 'thumb'), :title => workflow.title, :border => '1'),
               :controller => 'workflow', :action => 'show', :id => workflow.id %>
  <small>from <%= profile_link workflow.user %></small></li>
<% end %>
</ul>
