<h2>&rarr;&nbsp;<%= link_to 'Tagged workflows', :action => 'tags' %></h2>

<hr/>

<h3>&rarr;&nbsp;<%= link_to 'Most bookmarked..', :action => :most, :id => 'bookmarked' %></h3>
<h3>&rarr;&nbsp;<%= link_to 'Most downloaded..', :action => :most, :id => 'downloaded' %></h3>
<h3>&rarr;&nbsp;<%= link_to 'Most recent..', :action => :list %></h3>
<h3>&rarr;&nbsp;<%= link_to 'Most tagged..', :action => :most, :id => 'tagged' %></h3>
<h3>&rarr;&nbsp;<%= link_to 'Most viewed..', :action => :most, :id => 'viewed' %></h3>
