<% if session[:user_id] %>
    <li><%= link_to 'Upload a new workflow', :controller => 'workflow', :action => 'new' %></li>
    <li><%= link_to 'Bulk Upload (ZIP)', :controller => 'workflow', :action => 'upload' %></li>
<% end %>
<% if @workflow %>
  <li><%= link_to 'Download', :action => 'download', :id => @workflow %></li>
  <% if @workflow.authorized? current_user, "delete" %>
    <li><%= link_to 'Sharing', :action => 'sharing', :id => @workflow %></li>
  <% end %>
<% end %>
