<h2>Most recent workflows</h2>

<div class="threeQuarters">

<%= render(:partial => 'list') %>

</div>

<div id="sidebar">

<%= render :partial => 'right_sidebar' %>

</div>

<div class="visualClear">

<div class="workflowListPages">

<%= render(:partial => 'workflow/paginate', :locals => {:collection => @workflows, :query => nil}) %>

</div>
