<h2>Upload workflow</h2>

<% form_tag ({:action => 'create'}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Upload" %></p>
<% end %>

<div id="ugly">please de-uglify this screen.</div>

<script type="text/javascript">
new Effect.Highlight('workflow_scufl_temp');
</script>
