<% unless collection.empty? %>

<div id="hlist">
  <ul id="friends">
    <% for friend in collection %>
      <%= render :partial => "friendships/friend", :locals => { :friend => friend, :size => (size || 100) } %>
    <% end %>
  </ul>
</div>

<br style="clear: both;" />

<% end %>