<% size ||= 100 -%>
<% unless collection.empty? %>

<div id="hlist">
  <ul id="friends">
    <% for friend in collection %>
      <%= render :partial => "friendships/friend", :locals => { :friend => friend, :size => size } %>
    <% end %>
  </ul>
</div>

<div class="clearer">&nbsp;</div>

<% end %>