<% case controller.action_name.to_s; when "index" %>

  <% if @user and logged_in? and !@user.friend? current_user.id %>
    <li><%= request_friendship_link(@user.id) %></li>
  <% end %>

<% when "show" %>

  <!-- no subnav options -->

<% else %>

  <!-- no subnav options -->

<% end %>