<ul class="contacts">
<% for contact in @contacts do -%>
  <li class="contact">
    <div class="image">
    <%= image_tag(url_for(:controller => 'pictures', :action => 'show', :id => contact.user.avatar, :size => '50x50'),
        :border => '1', :title => h(contact.name)) %>
    </div>
    <div class="name"><%=h contact.name %></div>
    <div class="email">
      <span class="informal"><%=h contact.email %></span>
    </div>
  </li>
<% end -%>
</ul>