<h2>Access Denied to Chat Room / Archive</h2>

<p> You cannot join the chat room or view the chat archive for this project because you are not a project member.  Please contact one of the project admins to be added to this project.</p>

<%= button_to 'Return to Project Page', :action => 'show' , :id => params[:id] %>


