<h1>Listing permissions<% if @policy %> for <%=h @policy.name %><% end %></h1>

<%= render :partial => "table", :locals => { :collection => @permissions } %>

<br />

<% if @policy %><%= link_to 'New permission', new_permission_path(@policy) %><% end %>
<%= link_to 'Back', policy_path(@policy) %>