<div class="box_standout" style="margin: 1.5em 3em; padding: 0.7em 1.5em">
  <p style="float: right"><a href="http://wiki.myexperiment.org/index.php/Linked_Data">What is this?</a></p>
  <p style="float: left; font-size: 120%; font-weight: bold">Linked Data</p>
  <div style="clear: both"></div>
  <p><b>Non-Information Resource URI:</b> <%= link_to(nir, h(nir)) -%></p>
  <br>
  <p style="font-size: 110%; font-weight: bold">Alternative Formats</p>
  <div style="width: 33%; float: left; text-align: center"><a href="<%= html -%>"><img src="http://eprints.ecs.soton.ac.uk/style/images/fileicons/text_html.png" alt="HTML" /></a></div>
  <div style="width: 33%; float: left; text-align: center"><a href="<%= rdf -%>"><img src="http://eprints.ecs.soton.ac.uk/style/images/fileicons/application_rdf+xml.png" alt="RDF" /></a></div>
  <div style="width: 33%; float: left; text-align: center"><a href="<%= xml -%>"><img src="http://eprints.ecs.soton.ac.uk/style/images/fileicons/text_xml.png" alt="XML" /></a></div>
  <div style="clear: both"></div>
</div>

