<div class="contribution_aftertitle">
	<b>Created at:</b> <%=datetime contributable.created_at, false %>&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Last updated: </b><%= datetime contributable.updated_at, false %>
</div>