<div class="contribution_aftertitle">
	<b>Created at:</b> <%=datetime contributable.contribution.created_at, false %>
	<% unless contributable.contribution.created_at == contributable.contribution.updated_at %>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Last updated: </b><%= datetime contributable.contribution.updated_at, false %>
	<% end %>
</div>