<% title ||= false; new_link ||= false -%>
<% filter_contributables(collection).each do |klass,contributables| %>

<% if title %>
  <h2><%= klass.pluralize %></h2>
<% end %>

<% if new_link %>
  <p><%= link_to "New #{klass}", url_for(:controller => "#{klass.pluralize.downcase}", :action => "new") %></p>
<% end %>

<%= render :partial => "#{klass.pluralize.downcase}/#{klass.downcase}", :collection => contributables, :spacer_template => "contributions/list_spacer" %>

<% end %>