<% unless (most_v = Contribution.most_viewed(3, type)).empty? %>
  <h2>Most Viewed</h2>

  <%= render :partial => "contributions/list", :locals => { :collection => most_v } %>
<% end %>

<% unless (most_d = Contribution.most_downloaded(3, type)).empty? %>
  <h2>Most Downloaded</h2>

  <%= render :partial => "contributions/list", :locals => { :collection => most_d } %>
<% end %>