<p style="font-size: 85%;">
  <%= pluralize statistics.viewings_count, "viewing" %>
</p>

<% if downloadable? type -%>
	<p style="font-size: 85%;">
	  <%= pluralize statistics.downloads_count, "download" %>
	</p>
<% end -%>

<p style="margin-top: 0.2em;">
	<small>[ <%= link_to "see breakdown", eval("statistics_#{controller_visible_name(type.to_s.pluralize).singularize.downcase}_path(#{contributable.id})") -%> ]</small>
</p>