<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% when "show" %>

  <% if logged_in? and @contribution.owner? current_user %>
    <li><%= link_to 'Edit Contribution', edit_contribution_path(@contribution) %></li>
    <li><%= link_to 'Destroy Contribution', contribution_path(@contribution), :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>

<% else %>

  <!-- no subnav options -->

<% end %>