<p style="text-align: center; margin: 0 3em; padding: 0.6em; border-top: 1px dotted #999999; border-bottom: 1px dotted #999999; color: #333333;">
  <b>By uploading/creating this content, you agree to the following terms and conditions:</b><br/>
	You are responsible for any content that you upload. 
	You may remove your content at any time. We may make copies for operational purposes. 
	This service is governed by the <%= link_to "JANET Acceptable Use Policy", "http://www.ja.net/services/publications/policy/aup.html", :target => "_blank" %>. 
	Takedown requests will be reviewed by the myExperiment Management Committee. 
	The sharing functionality is under beta test. Please contact us for further information about Terms and Conditions.
</p>