<div class="contribution_section_box">
	<p class="heading">
		<%= info_icon_with_tooltip("The uploader is the person who uploaded/created this #{visible_name contributable} on myExperiment, and who manages it on myExperiment.") %>
		Uploader
	</p>
	<p>
		<center>
			<%= contributor(contributable.contributor_id, contributable.contributor_type, true, 60) %>
		</center>
	</p>
</div>