<h1>Editing contribution</h1>

<%= error_messages_for :contribution %>

<% form_for(:contribution, :url => contribution_path(@contribution), :html => { :method => :put }) do |f| %>
  <% if @contribution.owner?(current_user) %>
    <%= render :partial => "policies/listform", :locals => { :contribution => @contribution, :user => current_user } %>
  <% end %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>