<h1>New Contribution</h1>

<%= error_messages_for :contribution %>

<% form_for(:contribution, :url => contributions_path) do |f| %>
  <%= render :partial => "contributions/contributor_form", :locals => { :user => current_user } %>

  <p>
    <b>Contributable</b><br />
    <%= f.text_field :contributable_id %>
  </p>

  <p>
    <b>Contributable type</b><br />
    <%= f.text_field :contributable_type %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
