<div id="tags_inner_box">
	<% unless (tags = taggable.tags).empty? %>
		<div id="all_tags">
			<% unless (tags = taggable.tags).empty? %>
				<%= tag_cloud_from_collection(tags) %>
			<% else %>
      	<p class="none_text">None</p>
			<% end %>
		</div>
	<% else %>
		<p class="none_text">None</p>
	<% end %>
</div>