<% t "#{h @tag.name}" -%>

<h1>Tag Results</h1>

<h2>Items tagged with "<%=h @tag.name %>" (<%= @tagged_with.length %>)</h2>

<%= render :partial => "tags/table", :locals => { :collection => @tagged_with } %>