<div class="error">
  <h1>422 - Unprocessable Entity</h1>
  <% if @message %>
    <%= @message %>
  <% else %>
    The request was well-formed but was unable to be followed due to semantic errors.
  <% end %>
</div>
