<p>
  <b>Current OpenID:</b><br />
  <%= current_user.openid_url || "Not created yet" %>
</p>

<div id="myexp_login">
  <% form_tag openid_path do %>
  
    <p>
      <b>New OpenID:</b><br />
      <%= text_field_tag 'openid_url' %> 
    </p>
    
    <%= submit_tag 'Validate', :disable_with => "Validating..." %>
  <% end %>
</div>