	<% if @error_message -%>
		<p class="error_text" style="padding: 0 0.8em;"><%= @error_message -%></p>
		<br/>
	<% end -%>

<%= render :partial => "packs/upload_item_ro", :locals => { :post_url => create_resource_pack_path(@pack), 
                                                            :submit_text => "Add",
                                                            :multiple => true} -%>
