<div class="contribution_section_box">
	<p class="heading">
		<%= info_icon_with_tooltip("These are the results from checklists that measure the health of this pack") %>
		Checklist evaluation
  </p>

  <% if Authorization.check('edit', @pack, current_user) %>
    <p>
      <% form_tag(update_checklist_pack_path(@pack), :method => :post) do -%>
        <%= select_tag("minim", options_for_select(Conf.research_object_checklists.keys )) -%>
        <%= submit_tag("Run") -%>
      <% end %>
    </p>
  <% end %>

</div>
