<% t "All" -%>

<h2>All Packs</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @packs } %>

<%= render :partial => "packs/table", :locals => { :collection => @packs } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @packs } %>