<% if false %>
<h1>Edit annotations for <%= h(@manifest_name) -%></h1>

<%= error_messages_for :pack -%>
<% end %>

<%= render(:partial => 'contributions/edit_annotations', :locals => { :update_path => pack_resource_update_path(@pack, params[:resource_path]), :resource_uri => @resource_uri, :annotations => @annotations }) -%>

<p style="text-align: center; margin: 1em">
  <% form_tag( { :action => "show" }, :method => :get) do %>
    <%= submit_tag("Return to pack") -%>
  <% end %>
</p>

