<% unless item.is_root_folder %>
  <p>Parent folder is:
    <% parent = @item.folder_entry.proxy_in %>
    <% label = parent.is_root_folder ? "Top level" : item.folder_entry.proxy_in.folder_entry.entry_name %>
    <%= link_to(h(label), resource_path_fixed(context, item.folder_entry.proxy_in)) -%>
  </p>
<% end %>

<%= render :partial => 'resources/resource_tiles', :locals => { :context => context,
       :resources => item.proxies.map { |p| p.proxy_for } } -%>
