<%= error_messages_for 'board' %>

<!--[form:board]-->
<p><label for="board_title">Title</label><br/>
<%= text_field 'board', 'title'  %></p>

<p><label for="board_body">Body</label><br/>
<%= text_area 'board', 'body'  %></p>

<p><label for="board_created_at">Created at</label><br/>
<%= datetime_select 'board', 'created_at'  %></p>

<p><label for="board_updated_at">Updated at</label><br/>
<%= datetime_select 'board', 'updated_at'  %></p>
<!--[eoform:board]-->

