<%= error_messages_for 'picture' %>

<!--[form:picture]-->
<p><label for="picture_image">Select a picture file to upload</label><br/>
<%= file_field 'picture', 'data'  %></p>
<!--[eoform:picture]-->

