<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% when "show" %>

  <li><%= link_to 'Edit Picture', edit_picture_path(@picture.user_id, @picture) %></li>
  <li><%= link_to 'Remove Picture', picture_path(@picture.user_id, @picture), :confirm => 'Are you sure?', :method => :delete %></li>

<% else %>

  <!-- no subnav options -->

<% end %>
