<h1>Editing picture</h1>

<%= error_messages_for :picture %>

<% form_for(:picture, :url => picture_path(@picture.user_id, @picture), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', picture_path(@picture.user_id, @picture) %> |
<%= link_to 'Back', pictures_path %>