<h1>Editing Picture</h1>

<%= error_messages_for :picture %>

<% form_for(:picture, :url => picture_path(@picture.user_id, @picture), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update", :disable_with => "Updating..." %>
  </p>
<% end %>