<h1>New picture</h1>

<%= error_messages_for :picture %>

<% form_tag ({:action => :create}, :multipart => true) do %>
  <p>
    <b>Data</b><br/>
    <%= file_field 'picture', 'data' %>
  </p>
  
  <p>
    <%= submit_tag "Upload Picture" %>
  </p>
<% end %>

<%= link_to 'Back', pictures_path %>