<h1>Upload Picture</h1>

<%= error_messages_for :picture %>

<% form_tag ({:action => :create}, :multipart => true) do %>
  <p>
    <b>Picture file</b><br/>
    <%= file_field 'picture', 'data' %>
  </p>
  
  <p>
    <%= submit_tag "Upload Picture" %>
  </p>
<% end %>