<% for column in Picture.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @picture.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @picture %> |
<%= link_to 'Back', :action => 'list' %>
