<p>
  <b>User:</b>
  <%=h @picture.user_id %>
</p>

<p>
  <b>Data:</b>
  <%= image_tag url_for(:controller => 'pictures',
                        :action     => 'show',
                        :id         => @picture.id) %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture.user_id, @picture) %> |
<%= link_to 'Back', pictures_path %>