<% tags = current_user.tags %>

<div class="myexperiment_gadget">

  <div class="header">
    <p>
      <b>My Tags</b><br />
      <small>
				<%= link_to(pluralize(current_user.tags.length, "tag"), currentusers_things_url('tags')) %>
			</small>
    </p>
  </div>
  
  <div class="contents">
    <% unless tags.empty? %>
			<div class="tags_smaller">
				<%= tag_cloud_from_collection(tags) %>
			</div>
		<% else %>
			<center><i>None</i></center>
		<% end %>
  </div>
  
</div>
