<% gadget_characters_limit ||= 20 -%>
<% bookmarkables = current_user.bookmarks.collect {|b| b.bookmarkable} %>

<li class="dropdown-header">Favourites</li>
<% bookmarkables.each do |instance| %>
    <li>
      <%= icon instance.class.name.downcase,
               contributable_url(instance.id, instance.class.name),
               nil, nil, contributable_name(instance.id, instance.class.name, gadget_characters_limit) %>
    </li>
<% end %>
