<% inputs = statements.query([view_uri, RDF::URI("http://purl.org/wf4ever/wfprov#usedInput"), nil]).objects %>

<% if inputs.count > 0 %>
  <h3>Inputs</h3>
  <table class="simple">
    <tr>
      <th>Label</th>
      <th>Zip entry</th>
    </tr>
  <% inputs.each do |input| %>
    <% local_path = statements.query([input, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/content"), nil]).first_object %>
    <% sha1 = statements.query([local_path, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/sha1"), nil]).first_literal %>
    <% b1 = statements.query([nil, RDF::URI("http://www.w3.org/ns/prov#entity"), input]).first_subject %>
    <% role = statements.query([b1, RDF::URI("http://www.w3.org/ns/prov#hadRole"), nil]).first_object %>
    <% label = statements.query([role, RDF::RDFS.label, nil]).first_literal %>
      <tr>
        <td><%=h label -%></td>
        <td><%=h local_path -%></td>
      </tr>
  <% end %>
  </table>
<% end %>
