<%
runs = statements.query([view_uri, RDF::URI("http://purl.org/dc/terms/hasPart"), nil]).objects.select do |resource|
  statements.has_triple?([resource, RDF.type, RDF::URI("http://purl.org/wf4ever/wfprov#WorkflowRun")])
end
%>

<% if runs.count > 0 %>

  <h3>Nested Workflow Runs</h3>

  <p>The following workflow runs were performed as a consequence.</p>

  <ul>
    <% runs.each do |run| %>
      <li><%= item_link(@item, run, @statements) -%></li>
    <% end %>
  </ul>
<% end %>
