<%
parent = statements.query([view_uri, RDF::URI("http://purl.org/wf4ever/wfprov#wasPartOfWorkflowRun"), nil]).first_object
%>

<% if parent %>

  <h3>Part of workflow run</h3>

  <p>This is a part of the workflow run: <%= item_link(@item, parent, statements) -%></p>
<% end %>
