<table class="simple">
  <tr>
    <th>Path</th>
    <th>Size</th>
    <th>Type</th>
    <th>File count</th>
    <th></th>
  </tr>
  <% resources.each do |resource| %>
    <% ore_path = resource.ore_path %>
    <% next unless ore_path %>
    <% if Authorization.check('view', resource, current_user) %>
      <%= render :partial => 'items/resource_tile', :locals => { :context => context, :resource => resource } -%>
    <% end %>
  <% end %>
</table>
