<% unless (tags = tags_for_type("App", 50)).empty? %>
	<h2>Top <%= tags.length %> tags for Applications&nbsp&nbsp&nbsp<small>[<%= link_to "See All Tags", tags_path %>]</small></h2>
    <%= tag_cloud_from_collection(tags, false, "apps") %>
	<br/>
	<br/>
 <% end %>
