<% if @context %>
  <li><%= link_to visible_name(@context).pluralize, polymorphic_url(@context.class.name.underscore.pluralize) %></li>
  <li><%= link_to h(@context.label), @context %></li>
  <% if false %>
    <li><%= link_to("Checklists", polymorphic_path([@context, :checklists])) -%></li>
  <% end %>
  <li>Checklists</li>
<% end %>

<% case controller.action_name.to_s; when "show" %>
  <li><%=h @checklist.label -%></li>
<% end %>
