<li><%= link_to("Packs", packs_path) -%></li>
<li><%= link_to(h(@pack.title), polymorphic_path(@pack)) -%></li>
<li><%= link_to("Annotations", polymorphic_path([@pack, :annotations])) -%></li>

<% case controller.action_name; when "new" %>
  <li>New</li>
<% when "show" %>
  <li>Annotation</li>
<% end %>
