<li><%= link_to(Conf.to_visible(@pack.class.name).pluralize, polymorphic_path(@pack.class.name.underscore.pluralize.to_sym)) -%>
<li><%= link_to(h(@pack.title), polymorphic_path(@pack)) -%></li>

<% if controller.action_name == "index" %>
  <li>Annotations</li>
<% else %>
  <li><%= link_to("Annotations", polymorphic_path([@pack, :annotations])) -%></li>
<% end %>

<% case controller.action_name; when "new" %>
  <li>New</li>
<% when "show" %>
  <li>Annotation</li>
<% end %>
