<h1>All annotations for <%=h @pack.title -%></h1>

<% @annotations.each do |annotation| %>
  <% next unless annotation[:template] %>
  <%= render(:partial => 'annotation', :locals => { :pack => @pack, :annotation => annotation  } ) -%>
<% end %>

