<h1>New annotation</h1>

<% form_tag(pack_annotations_path(@pack)) do |f| -%>
  <%= render(:partial => "form", :locals => {
      :research_object => @pack.research_object,
      :template => params[:template],
      :annotation_template => @annotation_template,
      :values => params } ) -%>
  <%= submit_tag("Add") -%>
<% end %>

<h2>Debug</h2>
<pre><%=h @annotation_template.to_yaml -%></pre>
