<h2>myExperiment credits</h2>

<p><small>A fairly conclusive list of people who've contributed to myExperiment</small></p>

<h3>Hackers and code poets (in vague order)</h3>

<ul class="bullet">
<li>Matt Lee</li>
<li>David Withers</li>
<li>Don Cruicshank</li>
<li>David Newman</li>
</ul>

<h3>Investigators</h3>

<ul class="bullet">
<li>Carole Goble</li>
<li>David DeRoure</li>
</ul>

<h3>The 'All Your Experiment Are Belong To Us' Button Gag</h3>

<p>Dr. Andrew Gibson</p>
