<h2>Frequently Asked Questions</h2>
<p><small>Plus a few we made up to try and seem popular.</small></p>

<p>If you have a question - you can email it to us - questions@myexperiment.org</p>

<h3>What's this 'myExperiment' thing, then?</h3>

<h3>Why would I use myExperiment instead of whatever the current 'in' social network is?</h3>


