<%= error_messages_for 'blog' %>

<!--[form:blog]-->
<p><label for="blog_title">Title</label><br/>
<%= text_field 'blog', 'title'  %></p>

<p><label for="blog_body">Body</label><br/>
<%= text_area 'blog', 'body'  %></p>
<!--[eoform:blog]-->

<div id="ugly">please de-uglify this screen.</div>
<div id="fix">code or other non-visual fix needed here.</div>
