
<% @posts = Blog.find_all_by_user_id(@person.id) %>
<% @max_shown = 4 %>

<% if @posts.size > 0 %>

  <ul>

  <% for post in @posts[0..@max_shown - 1] %>
    <li><%= link_to post.title, :action => 'show', :controller => 'blog', :id => post %></li>
  <% end %>

  </ul>

<% else %>

  <div><%= session[:user_id].to_i == params[:id].to_i ? "You have" : "This user has" %> no blog posts.</div>

<% end %>

