<h2>Recent blog posts</h2>

<div class="blog">

  <% if @recent.size > 0 %>

    <ul>
    <% for blog in @recent %>
      <li><%= link_to blog.title, :action => 'show', :id => blog %>
      (<%= link_to Profile.find(blog.user_id).name, :action => 'show', :controller => 'profile', :id => blog.user_id %>)
      posted at <%= blog.created_at.strftime("%d/%m/%y %l:%M") %>
      </li>
    <% end %>
    </ul>
   
  <% else %>

    <div>There are no blog posts (at all!)</div>

  <% end %>

</div>

