<% content_for :logo do %>
  <%= link_to image_tag("/images/scape_logo.png", :height => 50, :style => 'border: 3px solid #fff;'), "http://www.scape-project.eu/" %>
<% end %>

<% content_for :site_info_links do %>
  <a target="_blank" href="http://www.scape-project.eu/about">About SCAPE</a>
  <span class="divider">|</span>
  <a target="_blank" href="http://wiki.opf-labs.org/display/SP/Home">SCAPE Wiki</a>
<% end %>

<%= render :partial => "layouts/myexperiment" %>
