<p style="text-align: center;">
	<b>
		For <%= visible_name(@reviewable) %>: 
		<%= link_to_function h(@reviewable.title) + expand_image, visual_effect(:toggle_blind, "review_item", :duration => 0.3) %>
	</b>
</p>

<div id="review_item" style="display: none;">
	<%= render :partial => "#{@reviewable.class.to_s.downcase.pluralize}/table", :locals => { :collection => [ @reviewable ] } %>
</div>