<div id="p_contacts">
<h2>Contacts</h2>

<% if @friends.empty? %>

  <p><%= session[:user_id].to_i == params[:id].to_i ? "Your" : "This user's" %> contacts list is currently empty.</p>
  
<% else %>

  <ul>
  
  <% @friends.each do |id| %>
  
    <li>
      <%= avatar id, "75x75" %><br>
      <%= profile_link User.find(id) %>
    </li>
    
  <% end %>
  
  </ul>
  
<% end %>

</div>
