<div style="position: relative;">

<div id="p_photo">

<h2>My avatar <span class="tiny">(<%= link_to 'Change my avatar', :controller => 'pictures', :action => 'list' %>)</span></h2>

<%= avatar @user.id, "140x140" %>

</div>

<div style="width: 630px; position: absolute; left: 230px; top: 0;">

<h2><%= h @user.profile.name %> <span class="tiny">(<a href="/auth/name/">Change my name</a>)</span></h2>

<%= render_partial 'form' %>

</div>

</div>
