<li><%= link_to 'My profile', :action => 'profile' %></li>
<li><%= link_to 'My contacts', :action => 'contacts' %></li>
<li><%= link_to 'My workflows', :action => 'workflows' %></li>
<li><%= link_to 'My jobs', :controller => 'jobs', :action => 'list' %></li>
<li><%= link_to 'My projects', :action => 'projects' %></li>
<li><%= link_to 'My forums', :action => 'forums' %></li>
<li><%= link_to 'My blog', :action => 'blog'%></li>
