<h2>My Contacts</h2>

<%= render :partial => 'contacts' %>

<p>Use the search box below to find locate other myExperiment users and add them to your contacts list using a 'friend request'.</p>

<% form_for :search, :url => { :controller => 'search', :action => 'search' } do |form| %>
  <%= form.text_field :query, :size => 30 %> 
  <%= form.hidden_field :type, :value => "people" %> 
  <%= submit_tag "Search for People" %>
<% end %>
