<h2>Welcome to your dashboard - an overview of all your stuff</h2>

<p>We're still working on this feature. However, you can see below
what the final version might look like..</p>

<p><img src="/images/dashboard.png" alt="" style="border: 1px solid #666; padding: 15px; margin: 15px;" /></p>

<p>Send us feedback on this, and any other feature you'd like to see in myExperiment. <a href="mailto:feedback@myexperiment.org">feedback@myexperiment.org</a></p>
