<h2>My Projects</h2>

<%= render :partial => 'projects' %>

<div class="visualClear">&nbsp;</div>

<p>Use the button below to create a new project.</p>

<%= button_to 'Create a new project', :controller => 'projects', :action => 'new' %>
