<h2>My Workflows</h2>

<%= render :partial => 'workflows' %>

<div class="visualClear"></div>

<p>Use the button below to upload a new workflow.</p>

<%= button_to 'Upload a workflow', :controller => 'workflow', :action => 'new' %>
