<ol class="breadcrumb">
  <li><%= link_to "Home", home_path %></li>
  <% # no better way to check for breadcrumbs partial...  %>
  <%= render :partial => "breadcrumbs" rescue nil %>
  <div style="float: right"><%= render :partial => "layouts/bookmark_widget" if Conf.bookmark_widget["enable"] %></div>
</ol>
