<table>
	<tr>
		<td>
			<ul class="breadcrumb_list">
				<li><%= link_to "Home", home_url %></li>
        <% # no better way to check for breadcrumbs partial...  %>
				<%= render :partial => "breadcrumbs" rescue nil %>
			</ul>
		</td>
		<td style="text-align: right; padding-left: 1em;">
			<%= render :partial => "layouts/bookmark_widget" if Conf.bookmark_widget["enable"] %>
		</td>
	</tr>
</table>

