<div class="content">

	<% if false %>
	<p style="text-align: left; font-size: 108%;">
		<b><%= link_to "Give us Feedback", "/feedback" %></b>
	</p>
	<% end %>
	
	<p>Icons courtesy of: Silk icon set 1.3 [<%= link_to "http://www.famfamfam.com/lab/icons/silk/", "http://www.famfamfam.com/lab/icons/silk/", :target => '_blank' %>]</p>

</div>