<% valid_types = ["workflows", "users", "networks"] -%>

<% form_tag search_path, :method => :get do %>
  <%= text_field_tag :query %> 
  <%= select_tag :type, options_for_select(valid_types.collect { |t| [t.capitalize, t] }, (valid_types.include?(controller.controller_name) ? controller.controller_name : "workflows")) %> 
  <%= submit_tag "Search", :disable_with => "Searching..." %>
<% end %>
