<%= form_tag search_path, :method => :get, :class => "navbar-form navbar-left", :id => "search" do %>
    <div class="input-group">
      <%= text_field_tag :query, @query ? @query.strip : nil, :size => 16, :class => "form-control", :placeholder => 'Search' %>
      <span class="input-group-btn">
        <% select_tag :type, options_for_select(Conf.search_categories.collect { |t| [t.capitalize, t] }, @query_type) %>
        <%= submit_tag "Go", :class => "btn btn-default" %>
        </span>
    </div>
<% end %>
