<% if logged_in? %>
  <%= render :partial => "gadgets/new_object" %>
<% end %>

<%= render :partial => "gadgets/user_monitor" %>

<%= render :partial => "gadgets/tag_most_popular", :locals => { :limit => 25 } %>