<%= link_to "About", "http://wiki.myexperiment.org/", :target => '_blank' %> |
<%= link_to "Mailing List", "http://lists.nongnu.org/mailman/listinfo/myexperiment-discuss", :target => '_blank' %> |
<%= link_to "Publications", "http://wiki.myexperiment.org/index.php/Papers", :target => '_blank' %>