<ul class="nav navbar-nav">
  <% Conf.main_tabs.each do |tab| %>
    <li <%= (tab['controller'] && controller.controller_name.match(tab['controller'])) ? 'class="active"' : '' %>>
      <%= link_to(tab['label'], tab['link']) -%>
    </li>
  <% end %>
</ul>
