<div class="tabnav">
  <% Conf.main_tabs.each do |tab| %>
    <%= link_to(tab['label'], tab['link'], :class => "tab", :id => (tab['controller'] && controller.controller_name.match(tab['controller'])) ? 'selected_tabnav' : '') -%>
  <% end %>
</div>
