<% if logged_in? -%>
  <%= render :partial => 'gadgets/user_monitor' %>
<% else -%>
  <%= icon "login", new_session_url, nil, nil, "Log in" -%> |
  <%= icon "user", new_user_url, nil, nil, "Register" -%>
<% end %>