<ul class="link_list">
<% if logged_in? -%>
  <li><%= signout_link -%></li>
<% else -%>
  <li><%= icon "login", new_session_url, nil, nil, "Log in" -%></li>
  <li><%= icon "user", new_user_url, nil, nil, "Register" -%></li>
<% end %>
<li><%= icon "feedback", "/feedback", nil, nil, "Give us Feedback" -%></li>
<li><%= icon "user-invite", invite_users_path, nil, nil, "Invite" -%></li>
</ul>
