<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<%= t :site => "myExperiment - #{controller_visible_name(controller.controller_name.humanize)}", :separator => "-" %>
		<%= stylesheet_link_tag 'reset-fonts-grids' %>
		<%= stylesheet_link_tag 'savagebeast' %>
		<%= stylesheet_link_tag 'base-min' %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'acts_as_taggable_stylesheet' %>
		<%= stylesheet_link_tag 'star_rating' %>
		<%= stylesheet_link_tag 'styles' %>
		<%= stylesheet_link_tag 'gadgets' %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "boxover.js" %>
		<% if controller.controller_name.to_s == "workflows" and controller.action_name.to_s == "all" -%>
			<link href="<%= workflows_url %>.rss" rel="alternate" type="application/rss+xml" title="myExperiment.org - Latest Workflows" />
		<% end -%>
	</head>
	<body>
		<div id="doc2" class="yui-t4">
			<div id="hd">
	  			<div id="myexp_header">
	  				<div class="logo">
						<%= link_to image_tag("logo.png"), "/" %>
					</div>
					<div class="links">
						<% if logged_in? -%>
							<span><b><%= signout_link -%></b></span>
						<% else -%>
							<span><b><%= icon "login", new_session_url, nil, nil, "Log in" -%></b></span>
							<span>&nbsp;|&nbsp;</span>
							<span><b><%= icon "user", new_user_url, nil, nil, "Register" -%></b></span>
						<% end %>
						<span>&nbsp;|&nbsp;</span>
						<span><b><%= icon "feedback", "/feedback", nil, nil, "Give us Feedback" -%></b></span>
					</div>
					<div class="clearer">&nbsp;</div>
				</div>
				<div>
					<ul class="tabnav">
					  <li <%= (["users", "profiles", "userhistory", "friendships", "memberships", "pictures"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
						<%= link_to "Users", users_path %>
					  </li>
					  <li <%= (["networks"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>><%= link_to "Groups", groups_path %></li>
					  <li <%= (["workflows"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>><%= link_to "Workflows", workflows_path %></li>
					  <li <%= (["blobs"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>><%= link_to "Files", files_path %></li>
					  <li <%= (["blogs", "blog_posts"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>><%= link_to "Blogs", blogs_path %></li>
					  <li <%= (["forums", "topics", "posts"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>><%= link_to "Forums", forums_path %></li>
					</ul>
				</div>
	  			<div id="myexp_searchbar"><%= render :partial => "layouts/search" %></div>
			</div>
			<div id="bd">
				<div id="yui-main"> 
	  				<div class="yui-b">
					    <div id="myexp_breadcrumbs_bar">
						    <ul class="breadcrumbs">
						    	<% if logged_in? -%>
						    		<li><%= link_to "Home", user_url(current_user) %></li>
									<% else -%>
										<li><%= link_to "Home", "/" %></li>
									<% end -%>
						    	<li><b>&#187;</b></li>
						    	<%= render :partial => "breadcrumbs" %>
						    </ul>
					    </div>
	    				<div id="myexp_content">
								<% if flash[:error] %>
									<div id="error_flash" class="box_standout" style="color: red; font-weight: bold; margin-bottom: 1.5em;">
										<%= link_to_function image_tag("close.gif", :style => "float: right;"), 
																				 visual_effect(:toggle_slide, "error_flash", :duration => 0.3) %>
										<%= flash[:error] %>
									</div>
								<% end %>
		    				<% if flash[:notice] %>
									<div id="notice_flash" class="box_standout" style="color: green; font-weight: bold; margin-bottom: 1.5em;">
										<%= link_to_function image_tag("close.gif", :style => "float: right;"), 
																				 visual_effect(:toggle_slide, "notice_flash", :duration => 0.3) %>
										<%= flash[:notice] %>
									</div>
								<% end %>
		    				<%= render :partial => "subnav" %>
		    				<%= yield :layout %>
						</div>
					</div>
				</div>
				<div id="myexp_sidebar" class="yui-b">
					<%= render :partial => "layouts/sidebar" %>
				</div>
			</div>
			<div id="ft">
				<%= render :partial => "layouts/footer" %>
			</div>		
		</div>
		
		<%= javascript_include_tag "tabs.js" %>
		<%= javascript_include_tag "folds.js" %>
	</body>
</html>
