<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title><%= @page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag 'congress' %>

	<%= javascript_include_tag "applicationcongress" %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
	<%= javascript_include_tag "dragdrop" %>
	<%= javascript_include_tag "controls" %>
</head>

<body class="<%= @page_class || 'normal' %>" onLoad="AutoResize();" onResize="AutoResize();">
    <div id="container">

	    <% if flash[:error] %><div id="flash_error"><%= flash[:error] %></div><% end %>
	    <% if flash[:channelmessage] %><div id="flash_channelmessage"><%= flash[:channelmessage] %></div><% end %>

        <%= yield %>

    </div>
</body>
</html>
