<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>myExperiment</title>

    <%= stylesheet_link_tag 'login' %>

    <%= javascript_include_tag :defaults %>

  </head>
  <body>

                <% if flash[:notice] %>

                <div id="flash">

                <p><%= flash[:notice]%></p>

                </div>

                <% end %>


        <div id="wrapper">


             <p><a href="/"><img src="/images/small.png" alt="myExperiment" /></a></p>

      <%= yield %>


      </div>



  </body>
</html>
