<% fields_for :contribution, contribution do |c_f| %>
  <p>
    <b>Policy</b><br/>
    <%= c_f.radio_button(:policy_id, "") %> - Public (all)<br/>
    <% for p in user.policies %>
      <%= c_f.radio_button(:policy_id, p.id) %> - <%=h p.name %><br/>
    <% end %>
  </p>
<% end %>