<% case controller.action_name.to_s; when "index" %>

  <!-- no subnav options -->

<% when "show" %>

  <li class="with_sep_bottom"><%= link_to 'New permission', new_permission_path(@policy) %></li>

  <li><%= link_to 'Edit Policy', edit_policy_path(@policy) %></li>
  <li><%= link_to 'Destroy Policy', policy_path(@policy), :confirm => 'Are you sure?', :method => :delete %></li>

<% when "edit" %>

  <!-- no subnav options -->

<% else %>

  <!-- no subnav options -->

<% end %>