<table>
  <tr>
    <th> </th>
    <th>View</th>
    <th>Download</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td><%= contributor(contributor.id, contributor.type.to_s, true, true, "60x60") %></td>
    <td><%= check_box_tag "view_private", 1, checked = contribution.authorized?("show", contributor), :disabled => true %></td>
    <td><%= check_box_tag "download_private", 1, checked = contribution.authorized?("download", contributor), :disabled => true %></td>
    <td><%= check_box_tag "edit_private", 1, checked = contribution.authorized?("edit", contributor), :disabled => true %></td>
  </tr>
</table>