<h1>Editing policy</h1>

<%= error_messages_for :policy %>

<% form_for(:policy, :url => policy_path(@policy), :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :object => f %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>


<%= link_to 'Back', policy_path(@policy) %>